app/application.yml
**/.idea
**/*.iml
**/target
/application-dev.yml
/application-form.yml
/application-work.yml
/debian/signsatwork/DEBIAN/
/debian/signsatwork/etc/
/debian/signsatwork/lib/
/debian/signsatwork/usr/
/debian/.debhelper/
/etc/
/usr/
/signsatwork_6.4.0_amd64.deb
/debian/
