
/*.sentiment{
  border-bottom: none!important;
  padding-left: 15px;
}*/


#container-button > button >span{
  margin-left: 5px;
}


.rewind_black >span,
.cancel_recording >span{
  line-height: 20px;
}


.btn-group-vertical>.btn.btn-sm{
  border-color: #F16E00;
  border-radius: 10px !important;
  font-weight: bold;
}



.btn-group-vertical>.btn.btn_disagree{
  margin-top: 10px;
}


#add_video_file_dailymotion .spinner_show{
  height: 80%;
}



.label_sign > a H2{
	font-weight: bold;
}


/*.navbar-brand {
	font-size: 20px;
	line-height: 4rem;
}*/

/*#logo {
	cursor: default;
	margin: 0 5px 0 0;
	width: 55px;
}*/


/*.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}*/


a.form-control:hover{
  color: #4866F7;
	text-decoration-line:none;
}

a.form-control{
	background-color: transparent;
	color:white;
	border: none;
}

.nav.navbar-nav img {
	width: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #080808;
  color: #4866F7;
}



.aside_bckg_li .aside_bckg_li >li {
	border-bottom: none;
}


.form-control[name=jobTextDescription]{
	width:100%;
}


.col-lg-4.col-md-4.col-xs-12.col-sm-4 > object {
	width: 200px;
	}


span.container_H2 {
  max-width: 85%;
}


.modal-content .modal-header * .modal-title {
	margin-left: 30px;
	white-space: nowrap;
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left: -30px;
	position: absolute;
}


.dropdown-menu > li > a.v-done_black{
	background-color: #989898;
  color: #4866F7;
}


.dropdown-menu > li > a.v-done-up_black{
	background-color: #989898;
  color: #4866F7;
}


h4.container_signes .pull-right {
	margin-left: 15px;
}

ul#orange-navbar-collapse >li {
  width: 200px;
}




/*.containerRight_signes.smiley_happy_blue,
.containerRight_signes.smiley_unhappy_blue{
  margin: 0 auto;
}*/





