#prefetch {
  background: url("/img/my_request.png"), url("/img/favoris.png"), url("/img/positif.png"), url("/img/request.jpg"), url("/img/checked.png"), url("/img/checked_down.png"), url("/img/checked_up.png"), url("/img/PlusVues2_Blanc.png"), url("/img/ajourRecent2_Blanc.png"), url("/img/Commentaire_Blanc.png"), url("/img/sprite_picto_400X400.png"), url("/img/new_sprite_picto_400X400.png"), url("/img/sprite_picto_solaris.png") no-repeat;
}

/* New Design Altran*/
/*#definition{
  margin-left: 0px;
}*/

/*.all_signe {
  float: left;
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1599px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
}*/

/*#requests_container{
  padding-top:15px;
}*/

/*#main_nav{
  background-color: #4866F7;
  border-style:none;
}*/

/*.modal-header {
  background-color: #4866F7;
  color: #FFFFFF;
}*/

/*button.close{
  color:#FFFFFF;
  opacity:1;
  padding-top: 19px;
}*/

/*.modal-body>.form-control {
  background-color: #EBEBEB;
  border-style:none;
  border-radius:0px;
}*/

/*.modal-body{
  padding-left: 5px;
  padding-right: 5px;
}*/

/*.modal-footer {
  border-style:none;
}*/

/*.modal-footer>.btn{
  color: #4866F7;
  font-size: 14px;
  border-style:none;
  font-weight: bold;
}*/

/*#sign_available {
  color: #4866F7;
}*/

/*#sign_not_available {
  margin-top: 30px;
  color: #4866F7;
}*/

/*.newComment {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -915px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}*/

/*.add_request {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1236px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 40px;
  width: 24px;
}*/

/*.plus_right{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -550px center;
  background-repeat: no-repeat;
  background-size: auto 28px;
  height: 28px;
  width: 28px;
  margin-top: 10px;
}*/

/*input[type=file] {
  font-size: 14px;
}*/

/*.already_exits{
  text-align: center;
  color: #FF5F58;
}*/

/*.same_name{
  color: #4866F7;
  margin-top: 40px;
}*/

/*.comment_date, .comment_text{
  font-weight: normal;
}*/

/*.comment_name{
  margin-bottom: 0px;
}*/

/*.comment_date{
  margin-top: 0px;
}*/

/*.create_sign {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -898px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}*/

/*.evaluate_sign {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1500px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}*/

/*.evaluate_sign_modal {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1906px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}*/

/*.add_comment {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -708px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}*/

/*.add_video {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1620px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}*/

/*.add_video_white {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1898px center;
  background-repeat: no-repeat;
  background-size: auto 26px;
  height: 45px;
  width: 26px;
  margin-right: 20px;
}*/

/*.most_rating {
  background-image: url("/img/new_sprite_picto_400X400.png");
  !*	background-color: Transparent;
      border: none;*!
  background-position: -1250px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
    height: 20px;
    width: 20px;
  margin-top: 10px;
  margin-right: 5px;
}*/

.sentiment{
  border-bottom: none!important;
  padding-left: 15px;
}

/* fin */

/*.open > .dropdown-menu {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width:27rem;
}

.open>.dropdown-menu {
  display: inline-table;
}*/

.col-xs-12 h5 {
  color: #8c8c8c;
}

.col-xs-12 h5:hover{
  color: #F16E00;
}


.alert{
  padding: 0px;
}
/*.login-form{
  margin-top: 40px;
}*/

.noAccount.aside_bckg_li{
  border-bottom: 1px solid;
  border-top: 1px solid;
  width: 90%;
  margin: 0 auto;
}

/*.btn_signin{
  !*border-color: #f16E00;
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 30px;*!
  border-radius: 30px;
  background-color: #000000;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  color:#FFFFFF;
  width: 50%;
  margin-top:20px;
  padding: 12px 12px;
}*/

/*input[name="username"],
input[name="password"],
input[name="email"]{
  width: 65%;
}*/

#container-button > button >span{
  margin-left: 5px;
}
/*#container-button >button,
#continue {
  line-height:20px;
}*/

.check {
  background-image: url("/img/checked.png");
  background-repeat: no-repeat;
  background-size: auto 20px;
  width: 20px;
  height: 20px;
}

#cancel-recording{
  background-color: transparent;
  outline: 0;
 /* margin-top: 5px;*/
  /*float: right;*/
  /*right: 0px;*/
  /*width: 90px;*/
  /*margin-left: 10px;*/
}


.retry_recording >span,
.cancel_recording >span{
  line-height: 20px;
}

/*#retry-recording{
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #000000;
  !*float: left;*!
  !*left: 0px;*!
  !*width: 140px;*!
}*/

#uploadRecordedVideoFile .modal-body.text-center{
  padding: 2px;
}

.container_picto_title {
  position: relative;
  height: 50px;
}

.container_picto_request_other,
.container_picto_my_request{
  left: 2rem;
  top: 2px;
}

.container_picto_request_other,
.container_title_request_other,
.container_picto_my_request,
.container_title_my_request,
.container_picto_request_other_in_suggest,
.container_title_request_other_in_suggest{
  position: absolute;
}



/*li.aside_bckg_li.noHover_nopointer,
.history_label{
  background-color: #CCCCCC;
}*/

/*.history_label.noHover_nopointer > a >h2{
  font-size: 16px;
}*/

.noHover_nopointer > a >h2{
  cursor: none;
  color: black;
}

.btn-group-vertical>.btn.btn-sm{
  border-color: #F16E00;
  border-radius: 10px !important;
  font-weight: bold;
}

/*.btn-group-vertical{
  padding-top: 10px;
}*/

.btn-group-vertical>.btn.btn_disagree{
  margin-top: 10px;
}

/*ul[role="tablist"]{
  padding-left: 0px;
  padding-right: 0px;
}*/


/*.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0px;
  margin-left: 0px;

}*/

/*.container-fluid{
  padding-right: 8px;
  padding-left: 8px;
}*/

/*.hyphenation_table{
  !* For Firefox *!
  white-space: pre-wrap;
  word-break: break-all;
  min-width: 5em !important;
  !* For Chrome and IE *!
  word-break: break-word;
}*/

table tbody td{
  word-break: break-word;
}


/*.text_hyphenation{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/

/*#container_video #video{*/
  /*width:90%;*/
/*}*/

#container_video{
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*#counter {
  color: white;
  font-size: 33px;
  opacity: 0.5;
  position: absolute;
  right: 41%;
  top: 32%;
  z-index: 3;
  background-color: black;
  height: 47px;
  margin-left: 6px;
  position: absolute;
  width: 47px;
  border-radius: 47px;
  text-align: center;
}*/

/*#tooltipInframe{
  position: absolute;
  right: 15px;
  z-index: 4;
}*/


/*.spinner_hidden{
  visibility: hidden;
}*/

/*.spinner_show{
  visibility: visible;
  width: 100%;
  height: 100%;
  background-image: url("/img/spinner-blue.gif");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  position: absolute;
}*/

#add_video_file_dailymotion .spinner_show{
  height: 80%;
}

@font-face {
	font-family: "Accessible-DfA";
	src: url('../font/AccessibleDfA.woff');

}


/*body{
	font-family: "Accessible-DfA";
  font-size: 16px;
  font-weight: bold;
}*/

.clear{
clear: both;
}

/*.sign-view-hidden {
  display: none;
}*/

/*.search-hidden {
  display: none;
}*/

/*.video-view-hidden {
  display: none;
}*/


/*h1, .h1, h2, .h2, h3, .h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}*/

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Accessible-DfA";
	font-weight: 500;
	line-height: 29px;
}*/

/*h2, .h2 {
	font-size: 20px;
}*/

.label_sign > a H2{
	font-weight: bold;
}

/*h4, .h4 {
	font-size: 14px;
  -ms-overflow-style: none;
  overflow-scrolling: none;
  overflow: hidden;
  position: relative;
  font-weight: bold;
}*/


.navbar-brand {
	font-size: 20px;
	line-height: 4rem;
}

#logo {
	cursor: default;
	margin: 0 5px 0 0;
	width: 55px;
}

.navbar_title {
	color: white;
	cursor: default;
	font-size: 17px;
	margin-top: 10px;
}


.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}

/*input[type="text"],[type="email"],[type="password"] {
	margin:0 auto;
  height: 42px;
  line-height: 42px;
}*/


/*a {
	color: #333333;
}*/

a:hover,
a:focus,
a:active{
	/*color: #f16e00;*/
  color: #4866F7;
  outline: 0;
}

a.form-control:hover{
  color: #4866F7;
	/*color:#f16e00;*/
	text-decoration-line:none;
}

a.form-control{
	background-color: transparent;
	color:white;
	border: none;
}

.nav.navbar-nav img {
	width: 20px;
}

.navbar-inverse .navbar-nav >li > a{
	color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #080808;
	/*color: #f69b51;*/
  color: #4866F7;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #4866F7;
	/*color: #f16e00;*/
	background-color: transparent;
}


/*.form-group {
	font-size: 20px;
	margin: 15px 0px;
}*/

/*.form-control:focus {
	border-color: #f16e00;
}*/

/*.form-control {
  color:#4866F7;
  height:42px;
}*/

#label_signe{
	border-top: medium solid;
	text-align: center;

}

#label_signe  H4 .containerRight_signes{
	width: auto;
}

#comment_signe{
	border-bottom: none;
}

/*.aside_bckg_li > a > div {
	!*height: 3em;*!
	padding: 0em;
  !*height: 50px;*!
  border-style:none;
}*/


/*.aside_bckg_li {
	border-bottom: 1px solid #8C8C8C;
	text-align: left;
  overflow: hidden;
}*/

.aside_bckg_li .aside_bckg_li >li {
	border-bottom: none;
}

.re-rate{
  border-top: medium solid;
}

.divider {
	height: 3px;
	width:100%;
	display:block; /* for use on default inline elements like span */
	margin: 9px 0;
	overflow: hidden;
	background-color: #333333;
}


#discussion{
	border-bottom: none;
}

#backtoHomepage:hover{
  color: #4866F7;
}



.btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
/*	background-color: #f16e00;
	border-bottom-color: #f16e00;
	border-left-color: #f16e00;
	border-right-color: #f16e00;
	border-top-color: #f16e00;*/
  background-color: #4866F7;
	color: #fff;
  border:none !important;
  outline:none !important;
}

.form-control[name=jobTextDescription]{
	width:100%;
}

/*.form-control{
	width:auto;
}*/

.col-lg-4.col-md-4.col-xs-12.col-sm-4 > object {
	width: 200px;
	}


/*.navbar * {
	font-weight: bold;
}*/

/*.navbar-toggle-complement {
	float: right;
	position: relative;
}*/

/*.navbar-toggle-complement li {
	float: left;
}*/

/*.nav.navbar-nav a {
	padding-left: 0;
}*/


/*.navbar-toggle {*/
  /*position: relative;*/
  /*float: right;*/
  /*padding: 9px 10px;*/
  /*margin-top: 8px;*/
  /*margin-right: 15px;*/
  /*margin-bottom: 8px;*/
  /*background-color: transparent;*/
  /*background-image: none;*/
  /*border: none;*/
  /*border-radius: 4px;*/
/*}*/


/*.navbar-toggle {*/
/*-moz-border-bottom-colors: none;*/
/*-moz-border-left-colors: none;*/
/*-moz-border-right-colors: none;*/
/*-moz-border-top-colors: none;*/
/*background-color: transparent;*/
/*background-image: none;*/
/*border-bottom-left-radius: 0;*/
/*border-bottom-right-radius: 0;*/
/*border-bottom-style: solid;*/
/*border-bottom-width: 1px;*/
/*border-image-outset: 0 0 0 0;*/
/*border-image-repeat: stretch stretch;*/
/*border-image-slice: 100% 100% 100% 100%;*/
/*border-image-source: none;*/
/*border-image-width: 1 1 1 1;*/
/*border-left-style: solid;*/
/*border-left-width: 1px;*/
/*border-right-style: solid;*/
/*border-right-width: 1px;*/
/*border-top-left-radius: 0;*/
/*border-top-right-radius: 0;*/
/*border-top-style: solid;*/
/*border-top-width: 1px;*/
/*float: right;*/
/*margin-bottom: 1rem;*/
/*margin-right: 2rem;*/
/*margin-top: 0rem;*/
/*padding-bottom: 1rem;*/
/*padding-left: 1rem;*/
/*padding-right: 1rem;*/
/*padding-top: 1rem;*/
/*position: relative;*/
/*}*/

/*.nav > li {
	position: relative;
}*/

/*.nav > li > a {
	display: inline;
	padding: 0px;

}*/

span.container_H2 {
  max-width: 85%;
}

/*.container_H2{
	float: left;
  !*margin-top: 15px;*!
  margin-left: 15px;
  !*margin-bottom: 15px;*!
}*/

#positif>.container_H2, #negatif>.container_H2{
  font-size: 21px;
}



/*.navbar-nav > li > a {
font-size: 20px;
}*/
/*.nav > li > a {
cursor: pointer;
}*/
a:hover, a:focus {
text-decoration-line: none;
}

.material-icons{
	margin-left: 3rem;
}

#evaluation_modal .modal-body {
/*	border-top-color: -moz-use-text-color;
	border-top-style: solid;
	border-top-width: 1px;*/
}

#img_listbox_sentiment_satisfied{
	width: 20px;
	margin-right: 5px;
}

.modal-content .modal-header * .modal-title {
	margin-left: 30px;
	white-space: nowrap;
}

#container_badge_new_signe {
	line-height: 40px;
}

.nbRecentSign_0-9{
  font-size: 20px;
}

.nbRecentSign_9-99{
  font-size: 15px;
  margin-left: -5px;
}

.nbRecentSign_99-999{
  font-size: 15px;
  margin-left: -10px;
}

.nbRecentSign_999{
  font-size: 15px;
  margin-left: -20px;
}

#Sign_List{
	background-color: #515151;
	color: white;
}

/*.dropdown-menu > li {
	clear: both;
}*/


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left: -30px;
	position: absolute;
}

/*#requestTextDescription{
  margin:0 auto;
}*/

/************picto***********/

/*.signe {
	float: left;
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1980px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
  margin-top: 4px;
}*/

/*.signe_reverse_video {
	float: left;
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -3528px center;
	background-repeat: no-repeat;
	background-size: auto 50px;
	height: 70px;
	width: 66px;
}*/

.picto_search {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1680px center;
	background-repeat: no-repeat;
	background-size: auto 60px;
	height: 60px;
	width: 60px;
	margin: 0 auto;
}

.logo_signe {
	float: left;
	margin-right: 8px;
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1380px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}


.chevron_left{
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -347px center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	height: 70px;
	width: 30px;}

/*.chevron_right{
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -270px center;
	background-repeat: no-repeat;
	background-size: auto 28px;
	height: 28px;
	width: 28px;
  margin-top: 10px;
}*/
/*#lexical {
  text-align: center;
  color: #4866F7;
  font-size:20px;
  margin-bottom: 30px;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 25px;
}*/


.search_signe {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -440px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}
.search_signe_black {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -2540px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}

.share_signe{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -560px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}


/*.sentiment_negatif, .modal-body .containerRight_signes .sentiment_negatif{
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-color: Transparent;
	border: none;
	background-position: -827px center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	height: 46px;
	width: 24px;
}*/

/*.sentiment_negatif_after_rate{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-color: Transparent;
  border: none;
  background-position: -1240px center;
  background-repeat: no-repeat;
  background-size: auto 36px;
  height: 46px;
  width: 36px;
  margin-left:69px;
}*/

.sentiment_neutre, .modal-body .containerRight_signes .sentiment_neutre{
	background-image: url("/img/sprite_picto_400X400.png");
    background-color: Transparent;
    border: none;
	background-position: -200px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}

/*.sentiment_positif, .modal-body .containerRight_signes .sentiment_positif {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -756px center;
	background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}*/

/*.sentiment_positif_after_rate {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1133px center;
  background-repeat: no-repeat;
  background-size: auto 36px;
  height: 46px;
  width: 36px;
  margin-left: 100px;
}*/

.sentiment_evaluation {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -2660px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 60px;
}

.containerRight_signes .sentiment_neutre {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -150px center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	height: 30px;
	width: 30px;
}

.containerRight_signes .sentiment_negatif {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -120px center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	height: 30px;
	width: 30px;
}

.sentiment_In_Modal{
	margin: 0 auto;
	width: 40px;
}
.containerRight_signes .search_signe{
	display: inline-block;
	width: 20px;

}

.containerLeft_signes {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.navbar-nav .containerLeft_signes {
	margin-top: 0;
}

.dropdown-menu .containerLeft_signes {
	margin-top: 12px;
}
/*.dropdown-menu li {
	border-bottom-color: #989898;
	border-bottom-style: solid;
	border-bottom-width: medium;
	line-height: 46px;
}*/


.dropdown-menu > li > a.check_signe{
	background-color: #989898;
  color: #4866F7;
	/*color:#F16E00;*/
}

/*.dropdown-menu > li > a.checked_down{
	background-color: #989898;
  color: #4866F7;
  !*color:#F16E00;*!
}*/

.dropdown-menu > li > a.checked_up{
	background-color: #989898;
  color: #4866F7;
  /*color:#F16E00;*/
}

/*span.form-signin-heading{
  !*margin-left: 6%;*!
  font-size: 16px;
  font-weight: bold;
}*/

/*.welcome_signe {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -260px center;
  background-repeat: no-repeat;
  background-size: auto 100px;
  height: 100px;
  width: 100px;
}*/

.cgu_signe {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2500px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}

.my_request_signe {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2240px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}

/*.my_request_signe_whithout_chevron {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1404px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 40px;
  width: 24px;
}*/

/*.alphabetic {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1310px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
}*/

/*.logo_app {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -0px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 70px;
	width: 100px;
}*/

.add_whith_chevron {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -60px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 60px;
}

.pen_whith_chevron {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1680px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 60px;
}

.request_signe_whith_chevron {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1460px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 60px;
}


.add_favorite_signe_header {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -380px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}

/*.request_signe {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1420px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}*/

/*.request_signe_whithout_chevron {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1428px center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	height: 40px;
	width: 24px;
}*/

.associate_signe {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1520px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}

/*.replace_signe {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1801px center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	height: 47px;
	width: 24px;
}*/
/*.history_signe {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1824px center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	height: 45px;
	width: 24px;
}*/


/*.webCam_picto {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -948px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}*/

/*.folderCamera_picto {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -972px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}*/

.search_signe {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1120px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}

.search_signe_header {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -600px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}

.search_signe_with_chevron {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2280px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 60px;
}

.suggest {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1156px center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	height: 46px;
	width: 30px;
  margin-right: 20px;
}

/*.suggest_black {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1940px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
  margin-top: 4px;
}*/

.newSigne {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1740px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
  margin-top: 5px;
}

.suggest_video_inverse {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1080px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}

.require {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -960px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}
/*.require_black {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -2020px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
  margin-top: 4px;
}*/
/*.add {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -551px center;
	background-repeat: no-repeat;
	background-size: auto 28px;
	height: 28px;
	width: 28px;
  margin-top: 9px;
}*/

.search_signe_glass {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -600px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}

.require_video_inverse {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -1000px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}

.duplicate_signe{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1043px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 44px;
  width: 24px;
}

/*.delete_signe{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -442px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}*/

/*.rename_signe{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -371px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 47px;
  width: 24px;
}*/
/*.favorite_signe{
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -563px center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	height: 37px;
	width: 24px;
}*/


.favorite_signe_white{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -2373px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 44px;
  width: 30px;
  margin-right: 20px;

}
/*.favorite_signe_black{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -588px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 40px;
  width: 24px;
}*/

.most_viewed{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2080px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}


/*.most_recent{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1230px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
}*/

.most_active{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2040px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}

/*.direction_down{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1370px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 28px;
  width: 20px;
}*/

.direction_up{
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1390px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 28px;
  width: 20px;
}



/*.personal_favorite_signe {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1871px center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	height: 37px;
	width: 24px;
}*/
/*.profil_signe{
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -1365px center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	height: 45px;
	width: 30px;
}*/

.delete_picto {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -370px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 44px;
  width: 20px;
}

/*.delete_picto_detail {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -444px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 47px;
  width: 24px;
}*/

.replyToRequest_picto {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1900px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
}
.replyToRequest-with-chevron_picto {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1940px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 60px;
}


/*.priorise_request {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1210px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 46px;
  width: 20px;
}*/

/*.pen {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -348px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}*/

/*.newAddition_signe {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -1936px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 47px;
  width: 30px;
  margin-right: 20px;
}*/


/*.community_signe{
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -531px center;
	background-repeat: no-repeat;
	background-size: auto 20px;
	height: 42px;
	width: 20px;
}*/
/*.parameters_signe{
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -830px center;
	background-repeat: no-repeat;
	background-size: auto 20px;
	height: 44px;
	width: 20px;
}*/

.add_favorite_signe {
	background-image: url("/img/new_sprite_picto_400X400.png");
	background-position: -516px center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	height: 47px;
	width: 24px;
}

.add_favorite_signe_white {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -631px center;
  background-repeat: no-repeat;
  background-size: auto 28px;
  height: 45px;
  width: 28px;
  margin-right: 20px;
}

.recent_signe{
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: 0px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 60px;
}
.menu_detail {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -360px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 40px;
}
.menu_detail_with_chevron {
	background-image: url("/img/sprite_picto_400X400.png");
	background-position: -500px center;
	background-repeat: no-repeat;
	background-size: auto 40px;
	height: 40px;
	width: 60px;
}

/*.record {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-position: -3336px center;
  background-repeat: no-repeat;
  background-size: auto 58px;
  height: 58px;
  width: 58px;
  border: none;
  background-color: transparent;
}*/

/*.stop {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3630px center;
  background-repeat: no-repeat;
  background-size: auto 60px;
  height: 60px;
  width: 60px;
  border: none;
  background-color: transparent;
}*/

/*.retry_recording {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -800px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
}*/

.cancel_recording {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -910px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
}

.play {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3572px center;
  background-repeat: no-repeat;
  background-size: auto 60px;
  height: 60px;
  width: 60px;
}

.check_signe {
	background-image: url("/img/done_black.png");
	background-position: right 20px top 16px;
	background-repeat: no-repeat;
	background-size: auto 20px;

}

/*.checked_down {
	background-image: url("/img/new_checked_down.png");
	background-position: right 0px top 16px;
	background-repeat: no-repeat;
	background-size: auto 20px;
}*/
.checked_up {
	background-image: url("/img/new_checked_up.png");
	background-position: right 0px top 16px;
	background-repeat: no-repeat;
	background-size: auto 20px;
}


#evaluate{
	width: auto;
}

.request_whitout_answer{
	font-size: 20px;
	line-height:50px;
}

.request_whitout_answer.aside_bckg_li{
	background-color:#CCCCCC ;
	border-bottom: medium solid;
	border-top: medium solid;
}

.other_name_nearby.aside_bckg_li{
	background-color:#CCCCCC ;
	border-bottom: medium solid;
  font-size: 20px;
  line-height:50px
}

.dotted-bottom{
	border-bottom: 1px dotted;
}
.dotted-top{
	border-top: 1px dotted;
}

.request_whitout_answer a,
.request_whitout_answer a:hover,
.request_whitout_answer a:focus,
.request_whitout_answer a.form-control:hover{
	background-color: #989898;
	border: none;
	color:#3b3b3b;
	cursor: default;
	text-align: center;
}


.backgroundColor {
	background-color: #989898;
}

h4.container_signes .pull-right {
	margin-left: 15px;
}

ul#orange-navbar-collapse >li {
  width: 200px;
}



/*video{
	width: 100%;
}*/

.containerRight_signes.sentiment_positif,
.containerRight_signes.sentiment_negatif,
.containerRight_signes.sentiment_neutre{
  margin: 0 auto;
}

.container_thumbnail{
  position: absolute;
}


#table-date{
  min-width: 101px;
}


#button-top{
  position: relative;
  margin-bottom: 15px;
}

#button-bottom{
  position: relative;
  visibility: hidden;

}
#reset{
  visibility: hidden;
}

#reset_search_request{
  visibility: hidden;
}

/*#signs-container{
  margin-top: 15px;
}*/

#videos-container{
  margin-top: 15px;
}




/****************************button radio************************/

/*  see here the subtlety for Thymeleaf https://github.com/Dogfalo/materialize/issues/1582 */

/* HTML5 Boilerplate accessible hidden styles */
input[type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px; margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* One radio button per line */
/*label {
	display: block;
	cursor: pointer;
	line-height: 2.5;
	font-weight: normal;
}*/

[type="checkbox"] + span,
[type="checkbox"] + [type="hidden"] + span{
	display: block;
}

[type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before{
  width: 20px;
  height: 20px;
}
/* the basic, unchecked style */
[type="checkbox"] + span:before,
[type="checkbox"] + [type="hidden"] + span:before  {
	content: '';
	display: inline-block;
	vertical-align: -0.25em;
	border-radius: 1px;
	border: 0.125em solid #fff;
	box-shadow: 0 0 0 1px #000;
	margin-right: 0.75em;
	transition: 0.5s ease all;
  width: 20px;
  height: 20px;
}

/* the checked style using the :checked pseudo class */
[type="checkbox"]:checked + span:before ,
[type="checkbox"]:checked + [type="hidden"] + span:before {
  background-image: url("/img/done_blue.png");
  background-repeat: no-repeat;
  background-size: auto 15px;
  width: 20px;
  height: 20px;
}


/*.tooltip_newSigne {
  background-image: url("/img/new_blue.png");
  background-repeat: no-repeat;
  position: absolute;
}*/


/*.tooltip_comment {
  background-image: url("/img/commentary_blue.png");
  background-repeat: no-repeat;
  position: absolute;
}*/

/*.tooltip_eye {
  background-image: url("/img/new_sprite_picto_400X400.png");
  background-repeat: no-repeat;
  position: absolute;
}*/


/*.tooltip_positif {
  background-image: url("/img/happy_blue.png");
  background-repeat: no-repeat;
  position: absolute;
}*/

/*.tooltip_favorite {
  background-image: url("/img/favorite_blue.png");
  background-repeat: no-repeat;
  position: absolute;
}*/


/*input[type=search].form-control,input[type=search].form-control:focus{
  border: none;
  box-shadow: none;
  border-radius: 0px;
}*/

#myform{
  margin: 0 auto;
  margin: 0 auto;
}

/*#myform input[type=search]{
  !*border: 2px solid ;
  border-radius: 11px;*!
  border-radius: 30px;
  background-color: #000000;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
  margin: auto;
  color:white;
}*/


#myform{
  border :none;
}
/*error create user*/

.blink_me {
  color: red;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*#label_welcome {
  color:#4866F7;
}*/

/*#label_invite {
  margin-top: 25px;
}*/

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}



