@media only screen and (min-width:1025px) and (max-width:1199px) {

  .btn .caret{
    margin-top: 1.5rem;
    margin-right: 7px;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 4rem;
    vertical-align: middle;
  }

  .divider-space input[name="lastName"],
  .divider-space input[name="firstName"],
  .divider-space input[name="entity"],
  .divider-space input[name="email"],
  .divider-space input[name="login"],
  .divider-space input[name="password"],
  .divider-space input[name="username"] {
    width: 60%;
  }

  .divider-space {
    margin-bottom: 7%;
  }

  .divider-space H2{
    color:#F16E00;
  }

  .divider-space input{
    height: 40px;
    border-radius: 15px;
  }


  .col-xs-offset-2{
    margin-left: 28%;
  }

  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea.form-control{
    width:100% ;
  }

  .container_picto_request_other,
  .container_picto_my_request{
    left: 37%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 42%;
  }


  .container_picto_request_other_in_suggest{
    left: 30%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 36%;
  }


  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }

  input[name="username"],
  input[type="password"],
  input[name="email"]{
    width: 90%;
  }


  .embed-responsive-4by3{
    padding-bottom: 130%;
  }

  .container_iframe{
    /*border: 1px solid;*/
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 55px;
  }


  li[role="presentation"] {
    width: 17rem;
  }

  img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    font-family: 'object-fit: contain'; /* for IE*/
    overflow: hidden;
    border: 1px solid;
  }

  #labelSigne > a {
    padding-left: 15px;
    padding-right: 18px;
  }

  .tooltip_newSigne {
    background-position: 5px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 170px;
  }

  .tooltip_comment {
    background-position: right 0px top 4px;
    background-size: auto 50px;
    height: 72px;
    width: 83px;
    right: 150px;
  }

  .tooltip_eye {
    background-position: right 22px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 80px;
  }

  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 50px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 0px;
  }

  .col-lg-3 span.caret {
    position: absolute;
    left: 12px;
    top: 24px;
  }

  .col-lg-3 span.hidden-xs {
    width: 100%;
    position: relative;
    top: 10px;
    margin-left: 15px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  iframe {
    height: 37rem;
    width: 100%;
  }



  .tooltip_variante {
    background-color: aliceblue;
    bottom: 30px;
    height: 20px;
    position: absolute;
    width: 20px;
    border-radius: 10px;
    left:40px;
  }

  label .text_hyphenation {
    width: 22rem;
  }

  #reset {
    position: absolute;
    margin-top: 7px;
    right: 32%;
    background-color: #E2E2E2;
    border: none;
  }

  #myform {
    width: 50%;
  }

  #myform input[type=search] {
    padding-right: 10%;
    margin-bottom: 10px;
  }

  #container-input {
    margin: 0 auto;
    width: 98%
  }

  input[type=search] {
    width: 85%;
  }

}

@media only screen and (min-width:1200px) and (max-width:1365px) {


  .btn .caret{
    margin-top: 1.5rem;
    margin-right: 7px;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 4rem;
    vertical-align: middle;
  }

  .divider-space input[name="lastName"],
  .divider-space input[name="firstName"],
  .divider-space input[name="entity"],
  .divider-space input[name="email"],
  .divider-space input[name="login"],
  .divider-space input[name="password"],
  .divider-space input[name="username"] {
    width: 60%;
  }

  .divider-space {
    margin-bottom: 7%;
  }

  .divider-space H2{
    color:#F16E00;
  }

  .divider-space input{
    height: 40px;
    border-radius: 15px;
  }


  .col-xs-offset-2{
    margin-left: 28%;
  }

  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea.form-control{
    width:100% ;
  }

  .container_picto_request_other,
  .container_picto_my_request{
    left: 37%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 42%;
  }


  .container_picto_request_other_in_suggest{
    left: 30%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 36%;
  }


  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }

  input[name="username"],
  input[type="password"],
  input[name="email"]{
    width: 90%;
  }

  .embed-responsive-4by3{
    padding-bottom: 130%;
  }

  .container_iframe{
    /*border: 1px solid;*/
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }

  #tooltipInframe {
    position: absolute;
    right: 27px;
  }

  .col-lg-3 .dropdown-toggle {
    width: 20em;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 50px;
  }


  li[role="presentation"] {
    width: 17rem;
  }

  img {
    height: 260px;
    width: 260px;
    object-fit: contain;
    font-family: 'object-fit: contain'; /* for IE*/
    overflow: hidden;
    border: 1px solid;
  }

  #labelSigne > a {
    padding-left: 15px;
    padding-right: 18px;
  }

  .tooltip_newSigne {
    background-position: 5px;
    background-size: auto 40px;
    height: 50px;
    width: 83px;
    right: 140px;
  }

  .tooltip_comment {
    background-position: right 0px top 4px;
    background-size: auto 40px;
    height: 72px;
    width: 83px;
    right: 130px;
  }

  .tooltip_eye {
    background-position: right 22px top 0px;
    background-size: auto 40px;
    height: 50px;
    width: 83px;
    right: 64px;
  }

  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 40px;
    height: 50px;
    width: 83px;
    right: 40px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 40px;
    height: 50px;
    width: 83px;
    right: 0px;
  }

  .col-lg-3 span.caret {
    position: absolute;
    left: 17px;
    top: 24px;
  }

  .col-lg-3 span.hidden-xs {
    width: 100%;
    position: relative;
    top: 10px;
    margin-left: 15px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  iframe {
    height: 37rem;
    width: 100%;
  }

  .tooltip_variante {
    background-color: aliceblue;
    bottom: 30px;
    height: 20px;
    position: absolute;
    width: 20px;
    border-radius: 10px;
    left:30px;
  }

  label .text_hyphenation {
    width: 22rem;
  }

  #reset {
    position: absolute;
    margin-top: 7px;
    right: 32%;
    background-color: #E2E2E2;
    border: none;
  }

  #myform {
    width: 50%;
  }

  #myform input[type=search] {
    padding-right: 10%;
    margin-bottom: 10px;
  }

  #container-input {
    margin: 0 auto;
    width: 98%
  }

  input[type=search] {
    width: 85%;
  }

}


@media only screen  and (min-width:1366px) and (max-width:1540px)  {

  .btn .caret{
    margin-top: 1.5rem;
    margin-right: 7px;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 4rem;
    vertical-align: middle;
  }

  .divider-space input[name="lastName"],
  .divider-space input[name="firstName"],
  .divider-space input[name="entity"],
  .divider-space input[name="email"],
  .divider-space input[name="login"],
  .divider-space input[name="password"],
  .divider-space input[name="username"] {
    width: 60%;
  }

  .divider-space {
    margin-bottom: 7%;
  }

  .divider-space H2{
    color:#F16E00;
  }

  .divider-space input{
    height: 40px;
    border-radius: 15px;
  }


  .col-xs-offset-2{
    margin-left: 28%;
  }


  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea.form-control{
    width:100% ;
  }

  #add_email >.container_H2.text_hyphenation{
    width: 85%;
  }


  .container_picto_request_other,
  .container_picto_my_request{
    left: 37%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 42%;
  }

  .container_picto_request_other_in_suggest{
    left: 30%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 36%;
  }

  iframe {
    height: 37rem;
    width: 100%;
  }


  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }

  input[name="username"],
  input[type="password"],
  input[name="email"]{
    width: 90%;
  }


  .col-lg-3 span.caret {
    position: absolute;
    left: 17px;
    top: 24px;
  }

  .col-lg-3 .dropdown-toggle {
    width: 20em;
  }

  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    line-height: 4rem;
    vertical-align: middle;
  }

  #container-input{
    margin: 0 auto;
    width:53%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 10%;
    margin-bottom: 10px;
  }

  #reset{
    position: absolute;
    margin-top: 7px;
    right: 42%;
    background-color: #E2E2E2;
    border:none;
  }

  .embed-responsive .embed-responsive-item,
  .embed-responsive embed,
  .embed-responsive iframe,
  .embed-responsive object,
  .embed-responsive video {
    height: 37rem;
    width: 100%;
  }


  img {
    height: 320px;
    width: 320px;
    object-fit: contain;
    font-family: 'object-fit: contain'; /* for IE*/
    overflow: hidden;
    border: 1px solid;
  }

  .tooltip_newSigne {
    background-position: 5px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 170px;
  }

  .tooltip_comment {
    background-position: right 0px top 4px;
    background-size: auto 50px;
    height: 72px;
    width: 83px;
    right: 150px;
  }

  .tooltip_eye {
    background-position: right 22px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 80px;
  }

  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 50px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 0px;
  }

  .tooltip_variante {
    background-color: aliceblue;
    bottom: 30px;
    height: 20px;
    margin-left: 0px;
    position: absolute;
    width: 20px;
    border-radius: 10px;
  }

  .container_tooltip {
    position: absolute !important;
    right: 55px;
  }


  #labelSigne > a{
    padding-left: 60px;
  }


  #associateForm .form-group #signs-container label .text_hyphenation{
    width: 100%;
  }



  label .text_hyphenation {
    width:22rem;
  }

  .container_H2.container_header_H2.text_hyphenation{
    width: 70%;
  }

  .container_H2.text_hyphenation{
    width: 90%;
  }

  li[role="presentation"] {
    width:20rem;
  }

}


@media only screen  and (min-width:1541px)  {

  .btn .caret{
    margin-top: 1.5rem;
    margin-right: 7px;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 4rem;
    vertical-align: middle;
  }

  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }

  input[name="username"],
  input[type="password"],
  input[name="email"]{
    width: 90%;
  }

  .container_H2.container_header_H2.text_hyphenation{
    width: 70%;
  }

  .container_picto_request_other,
  .container_picto_my_request{
    left: 37%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 42%;
  }

  .container_picto_request_other_in_suggest{
    left: 30%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 36%;
  }

  iframe {
    height: 37rem;
    width: 100%;
  }

  .col-lg-3 span.caret {
    position: absolute;
    left: 17px;
    top: 24px;
  }

  .col-lg-3 .dropdown-toggle {
    width: 20em;
  }

  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    line-height: 4rem;
    vertical-align: middle;
  }

  #container-input{
    margin: 0 auto;
    width:53%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 10%;
    margin-bottom: 10px;
  }

  #reset{
    position: absolute;
    margin-top: 7px;
    right: 42%;
    background-color: #E2E2E2;
    border:none;
  }

  .embed-responsive .embed-responsive-item,
  .embed-responsive embed,
  .embed-responsive iframe,
  .embed-responsive object,
  .embed-responsive video {
    height: 37rem;
    width: 100%;
  }

  #associateForm .form-group #signs-container label .text_hyphenation{
    width: 100%;
  }

  img {
    height: 320px;
    width: 320px;
    object-fit: contain;
    font-family: 'object-fit: contain'; /* for IE*/
    overflow: hidden;
    border: 1px solid;
  }

  .tooltip_newSigne {
    background-position: 5px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 170px;
  }

  .tooltip_comment {
    background-position: right 0px top 4px;
    background-size: auto 50px;
    height: 72px;
    width: 83px;
    right: 150px;
  }

  .tooltip_eye {
    background-position: right 22px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 80px;
  }

  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 50px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 50px;
    height: 50px;
    width: 83px;
    right: 0px;
  }

  .tooltip_variante {
    background-color: aliceblue;
    bottom: 30px;
    height: 20px;
    margin-left: 20px;
    position: absolute;
    width: 20px;
    border-radius: 10px;
  }

  .container_tooltip {
    position: absolute !important;
    right: 90px;
  }


  #labelSigne > a{
    padding-left: 60px;
  }


  label .text_hyphenation {
    width:22rem;
  }

  .text_hyphenation{
    width: 40rem;
  }

  li[role="presentation"] {
    width:20rem;
  }

}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*
     Votre CSS pour IE versions 10, 11 et Edge
  */
  li.forIE.aside_bckg_li {
    display:none;
  }
  #labelSigne > a{
    padding-left: 100px;
  }

  ::-ms-clear {
    display: none;
  }

}
