
@media only screen and (min-width:1025px) and (max-width:1199px) {

  /* Begin Voir les signes /sec/signs */
  .navbar-header{
    float: initial;
  }

  .navbar-toggle {
    display: block!important;
  }

  #container-input{
    width:  99%!important;
  }

  /* End Voir les signes /sec/signs */

  /* Begin index page /index */

  .navbar-nav{
    float:right;
  }

  .container_H2.container_header_H2.text_hyphenation{
    width: auto;
    /*padding-right: 20px;
    margin-left: 7px;*/
    margin-top: 0px;
    margin-left: auto;
  }

    H2.container_H2.text_hyphenation{
      width: auto!important;
    }

    .nav > li {
      padding-right: 20px;
    }

  /* End index page /index */


  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }


  .col-lg-3 span.hidden-xs {
    width: 100%;
    position: relative;
    top: 10px;
    margin-left: 15px;
  }

  label .text_hyphenation {
    width: auto;
  }

 .job_description_picture {
    margin-top : 10px;
    width: 24%!important;
  }

  .name_picture {
    width: 24%!important;
  }

    .connexion_white {
      background-image: url("/img/sprite_picto_400X400.png");
      background-position: -1379px center;
      background-repeat: no-repeat;
      background-size: auto 24px;
      height: 24px;
      width: 24px;
      border: none;
      background-color: transparent;

    }
    #connexion_label {
      padding-top: 5px;
    }

    .btn_signin_header{
      width: 20%!important;
    }

    .navbar_title {
      text-align:center!important;
    }

    H2.text_hyphenation{
      width: 46rem!important;
    }

    .label_request_H2.container_H2{
          width: auto!important;
        }
}

@media only screen and (min-width:1200px) and (max-width:1365px) {

  /* Begin Voir les signes /sec/signs */
  .navbar-header{
    float: initial;
  }

  #container-input{
    width:  99%!important;
  }
  /* End Voir les signes /sec/signs */

  /* Begin index page /index */

  .navbar-nav{
    float:right;
  }

  .container_H2.container_header_H2.text_hyphenation{
    width: auto;
  /*  padding-right: 20px;
    margin-left: 7px;*/
    margin-top: 0px;
    margin-left: auto;
  }

    H2.container_H2.text_hyphenation{
      width: auto!important;
    }

  .nav > li {
    padding-right: 20px;
  }

  /* End index page /index */



  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }


  .col-lg-3 .dropdown-toggle {
    width: 20em;
  }


  .col-lg-3 span.hidden-xs {
    width: 100%;
    position: relative;
    top: 10px;
    margin-left: 15px;
  }


  label .text_hyphenation {
    width: auto;
  }

 .job_description_picture {
    margin-top : 10px;
    width: 24%!important;
  }

  .name_picture {
    width: 24%!important;
  }

    .connexion_white {
      background-image: url("/img/sprite_picto_400X400.png");
      background-position: -1379px center;
      background-repeat: no-repeat;
      background-size: auto 24px;
      height: 24px;
      width: 24px;
      border: none;
      background-color: transparent;

    }
    #connexion_label {
      padding-top: 5px;
    }

    .btn_signin_header{
      width: 20%!important;
    }

    .navbar_title {
      text-align:center!important;
    }
    H2.text_hyphenation{
      width: 46rem!important;
    }

    .label_request_H2.container_H2{
          width: auto!important;
        }
}

@media only screen  and (min-width:1366px) and (max-width:1540px)  {

  /* Begin Voir les signes /sec/signs */
  .navbar-header{
    float: initial;
  }

  #container-input{
    width:  99%!important;
  }
  /* End Voir les signes /sec/signs */


  /* Begin index page /index */

  .navbar-nav{
    float:right;
  }

  .container_H2.container_header_H2.text_hyphenation{
    width: auto;
   /* padding-right: 20px;
    margin-left: 7px;*/
    margin-top: 0px;
    margin-left: auto;
  }

    H2.container_H2.text_hyphenation{
      width: auto!important;
    }

  .nav > li {
    padding-right: 20px;
  }

  /* End index page /index */

  #add_email >.container_H2.text_hyphenation{
    width: 85%;
  }

  .col-lg-3 .dropdown-toggle {
    width: 20em;
  }

  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }

  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    line-height: 4rem;
    vertical-align: middle;
  }


  #associateForm .form-group #signs-container label .text_hyphenation{
    width: 100%;
  }



  label .text_hyphenation {
    width:auto;
  }



/*  .container_H2.text_hyphenation{
    width: 80%;
  }*/

 .job_description_picture {
    margin-top : 10px;
    width: 24%!important;
  }

  .name_picture {
    width: 24%!important;
  }

    .connexion_white {
      background-image: url("/img/sprite_picto_400X400.png");
      background-position: -1379px center;
      background-repeat: no-repeat;
      background-size: auto 24px;
      height: 24px;
      width: 24px;
      border: none;
      background-color: transparent;

    }
    #connexion_label {
      padding-top: 5px;
    }

    .btn_signin_header{
      width: 20%!important;
    }

    .navbar_title {
      text-align:center!important;
    }

    H2.text_hyphenation{
      width: 46rem!important;
    }

    .label_request_H2.container_H2{
      width: auto!important;
    }
}

@media only screen  and (min-width:1541px)  {

  /* Begin Voir les signes /sec/signs */
  .navbar-header{
    float: initial;
  }

  #container-input{
    width:  99%!important;
  }

  /* End Voir les signes /sec/signs */

  /* Begin index page /index */

  .navbar-nav{
    float:right;
  }

  .container_H2.container_header_H2.text_hyphenation{
    width: auto;
   /* padding-right: 20px;
    margin-left: 7px;*/
    margin-top: 0px;
    margin-left: auto;
  }

    H2.container_H2.text_hyphenation{
      width: auto!important;
    }

    .nav > li {
      padding-right: 20px;
    }

  /* Begin index page /index */



  .col-lg-3 .dropdown-toggle {
    width: 20em;
  }

  .dropdown-menu > li > a > span {
    margin-left: 1rem;
  }


  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    line-height: 4rem;
    vertical-align: middle;
  }


  #associateForm .form-group #signs-container label .text_hyphenation{
    width: 100%;
  }


  label .text_hyphenation {
    width: auto;
  }

 .job_description_picture {
    margin-top : 10px;
    width: 24%!important;
  }

  .name_picture {
    width: 24%!important;
  }

  .connexion_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1379px center;
    background-repeat: no-repeat;
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;

  }
  #connexion_label {
    padding-top: 5px;
  }

  .btn_signin_header{
    width: 20%!important;
  }

  .navbar_title {
    text-align:center!important;
  }

  H2.text_hyphenation{
    width: 46rem!important;
  }

  .label_request_H2.container_H2{
        width: auto!important;
      }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*
     Votre CSS pour IE versions 10, 11 et Edge
  */
  li.forIE.aside_bckg_li {
    display:none;
  }


  ::-ms-clear {
    display: none;
  }

}
