@media only screen and (max-width:320px) {

  .btn .caret{
    margin-top: 1rem;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 3rem;
    vertical-align: middle;
  }

  .divider-space input[name="lastName"],
  .divider-space input[name="firstName"],
  .divider-space input[name="entity"],
  .divider-space input[name="email"],
  .divider-space input[name="login"],
  .divider-space input[name="password"],
  .divider-space input[name="username"] {
    width: 60%;
  }

  .divider-space {
    margin-bottom: 25%;
  }

  .divider-space H2{
    color:#F16E00;
  }

  .divider-space input{
    height: 40px;
    border-radius: 15px;
  }

  textarea.form-control{
    width:100% ;
  }


  #modal-footer_add_video_file_recording{
    padding: 5px;
  }

  #counter{
    right: 34%;
    top: -10%;
  }

  H4#label_record,
  H4#label_after_record{
  margin-top: 5px;
  margin-bottom: 5px;
  }

  #container_video{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  #container-button >.btn{
    font-size:10px;
  }

  #continue, #cancel-recording  {
    font-size: 10px;
  }

  #container-button >button,
  #continue, #cancel-recording {
    line-height:10px;
  }


  .navbar_title{
    font-size: 14px;
  }

  .container_picto_request_other,
  .container_picto_my_request{
    left: 13%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 27%;
  }

  .container_picto_request_other_in_suggest{
    left: 5%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 20%;
  }

  a[data-toggle=modal] div h2.container_H2.text_hyphenation{
    width: 21rem;
  }

  .labelSigne {
    width: 11rem;
  }

  li[role="presentation"].aside_bckg_li > a > div {
    height: 0em;
  }

  .label_favorite_Liste_H2.container_H2{
    width:19rem;
  }


  .request_whitout_answer.aside_bckg_li{
    width: 100%;
    font-size: 17px;
  }

  #requestTextDescription{
    width: 28rem;
  }

  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th{
    white-space: normal;
  }

  .label_sign_H2.container_H2{
  width:auto;
  }

  .labelSigne a{
    font-size:10px;
  }

  h2, .h2 {
    font-size: 13px;
  }

  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }

  .col-xs-12.middle-col{
    margin-bottom: 20px;
  }

  .navbar-toggle {
    margin-top: 0px;
  }

  .container_label_checkbox{
    width: 90%;
    margin: 0 auto;
  }

  .container_label_radio{
    width: 90%;
    margin: 0 auto;
  }

  .table-responsive {
    font-size: 1.2rem;
  }

  button[data-target="#orange-navbar-collapse"]{
    padding: 3px 10px;
  }
  .navbar-nav {
    margin-top: 0rem;
  }

  .dropdown-menu > li > a {
    padding: 16px 16px;
    line-height: 2.4rem;
  }

  li[role="presentation"].logon {
    width: 100%;
    position: absolute;
    left: 55%;
  }

  label .text_hyphenation {
    width: 12rem;
    padding-left: 0rem;
  }

  ul.hidden-sm > li[role="presentation"] {
    margin-right: 15px;
    width: 2rem;
    height: 2rem;
  }

  li[role="presentation"] {
    margin-right: 5px;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }

  /*start customisation player*/
  .player .fullscreen a {
    top: 2px;
    width: 20px;
  }

  .player {
    height: 25px;
    width: 100%;
    font-size: 25px;
    bottom: 10px;
  }

  .player .volume-icon span::before {
    border-width: 10px 10px 10px medium;
    top: -6px;
  }

  .player .pause-button {
    padding: 2px;
  }

  .player .play-pause {
    padding: 0px;
  }

  .player .play-pause {
    font-size: 25px;
    margin-top: -6px;
  }

  .player .progress {
    margin: 2px 0px 0px;
  }

  .player .v-change-11 span:after {
    top: -3px;
  }

  .player .v-change-10 span:after {
    top: -2px;
  }

  .player .v-change-9 span:after {
    top: -2px;
  }

  .player .v-change-8 span:after {
    top: -1px;
  }

  .player .v-change-7 span:after {
    top: -1px;
  }

  .player .v-change-6 span:after {
    top: 0px;
  }

  .player .v-change-5 span:after {
    top: 0px;
  }

  .player .v-change-4 span:after {
    top: 1px;
  }

  .player .v-change-3 span:after {
    top: 1px;
  }

  .player .v-change-2 span:after {
    top: 2px;
  }

  .player .v-change-1 span::after {
    color: #f16e00 !important;
    content: "+";
    font-size: 45px;
    left: 21px;
    top: -30px;
    z-index: 2;
  }

  .player .v-change-11 span::after {
    top: -3px;
  }

  /*end customisation player*/
  .aside_bckg_li h2, .aside_bckg_li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 160px;*/
  }

  H2.text_hyphenation {
    width: 21rem;
  }

  .text_hyphenation {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 10rem;*/
  }

.title_H1.text_hyphenation.navbar_title{
  width: 20rem;
}


  .text_hyphenation.navbar_title {
    width: 16rem;
  }


  /*start dropdown*/
  .col-xs-1 .adjust_size.dropdown-toggle {
    width: auto;
  }

  .col-xs-1 .dropdown-toggle {
    width: 7em;
  }

  .col-xs-1 .caret {
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .col-sm-1 .caret { /* for iphone6*/
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .btn .new_blue.pull-left {
    background-position: -1425px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .sort_alpha_blue.pull-left {
    background-position: -1650px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }



  .btn .pinlist_blue.pull-left {
    background-position: -2940px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .pinlist_shared.pull-left {
    background-position: -314px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .pinlist_shared_new.pull-left {
    background-position: -314px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .most_viewed.pull-left {
    background-position: -1560px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .most_active.pull-left {
    background-position: -1530px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .up_black {
    background-position: -1620px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .down_black {
    background-position: -1590px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .smiley_happy_blue.pull-left {
    background-position: -180px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .signe.pull-left {
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  /*end dropdown*/


  .labelSigne > a {
    padding-right: 18px;
  }

  .new_blue-signs {
    background-position: right 2px top 0;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 80px;
  }

  .commentary_white {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .sign_see_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }

  .smiley_happy_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .pin_blue {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }


  #backtoHomepage {
    width: 24%;
  }

  .col-xs-12 a > object {
    width: 100%;
  }

  .col-xs-12 iframe, .col-xs-12 img, .col-xs-12 embed {
    width: 100%;
  }

  .video video {
    height: 56%;
    width: 100%;
  }

  .form-control {
    padding-left: 0;
    padding-right: 0;
    text-overflow: ellipsis;
  }

  .col-md-4.col-xs-6.col-sm-4 object {
    width: 100%;
  }

  *::before, *::after {
    box-sizing: border-box;
  }

  img {
    height: 130px;
    width: 130px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }

  input.container_H2[type="text"] {
    width: 200px;
  }

  input.container_H2[type="file"] {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  .navbar-nav > li > a {
    padding-right: 10px;
  }

  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  [type="radio"] + span::before, [type="radio"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  label {
    font-size: 11px;
  }

  .spinner_show {
    height: 24%;
  }

  ul.navbar-toggle-complement.nav.navbar-nav {
    margin-right: -15px;
  }

  #button-top {
    position: relative;
    margin-bottom: 10px;
  }

  #button-bottom {
    position: relative;
    visibility: hidden;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 6px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  #reset {
    position: absolute;
    margin-top: 7px;
    right: 20%;
    background-color: #E2E2E2;
    border: none;
  }

  #container-input {
    margin: 0 auto;
    width: 85%
  }

  #myform {
    width: 100%;
  }

  #myform input[type=search] {
    border: 2px solid;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
  }

  #myform input[type=search] {
    padding-right: 18%;
    margin-bottom:10px;
  }

}

@media only screen and (min-width:321px) and (max-width:375px) {

  /* Design Altran*/
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
  }

  /* fin */


  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }



  #container-button >.btn{
    font-size:10px;
  }



  .container_picto_request_other,
  .container_picto_my_request{
    left: 13%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 27%;
  }

  .container_picto_request_other_in_suggest{
    left: 5%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 20%;
  }


  li[role="presentation"].aside_bckg_li > a > div {
    height: 0em;
  }



  .request_whitout_answer.aside_bckg_li{
    width: 100%;
    font-size: 17px;
  }


  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th{
    white-space: normal;
  }



  .col-xs-12.middle-col{
    margin-bottom: 20px;
  }


  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  [type="checkbox"] + h4::after, [type="checkbox"] + [type="hidden"] + h4::after {
    float: right;
    height: 15px;
    /*margin-left: 5px;*/
    margin-top: 6px;
    width: 15px;
  }


  [type="radio"] + span::before, [type="radio"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  [type="radio"] + h4::after, [type="radio"] + [type="hidden"] + h4::after {
    float: right;
    height: 15px;
    /*margin-left: 5px;*/
    margin-top: 6px;
    width: 15px;
  }

  .container_label_checkbox{
    width: 90%;
    margin: 0 auto;
  }

  .container_label_radio{
    width: 90%;
    margin: 0 auto;
  }

  #container-input{
    margin: 0 auto;
    width:  85%
  }


  .form-control::-webkit-input-placeholder {
    color: #8C8C8C;
    height: 40px;
    line-height: 25px;
  }



  .col-xs-1 .dropdown-toggle {
    width: 7em;
  }



  .btn .sort_alpha_blue.pull-left {
    margin-left: 5px;
    margin-top: 5px;
  }


  .btn .all-signs_blue.pull-left {
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
  }


  .btn .pinlist_blue.pull-left {
    background-position: -2137px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }


  .btn .pinlist_shared_new.pull-left {
    background-position: -2270px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .most_viewed.pull-left {
    background-position: -1560px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .most_active.pull-left {
    background-position: -1530px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .up_black {
    background-position: -2264px center;
    background-repeat: no-repeat;
    background-size: auto 20px;
    height: 28px;
    width: 20px;
    margin-left: 5px;
  }


  .btn .smiley_happy_blue.pull-left {
    background-position: -2013px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 0px;
    margin-top: 5px;
  }

  .btn .signe.pull-left {
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }


  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .btn .signe.pull-left{
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }


  .text_hyphenation.navbar_title{
    /*width: 23rem;*/
   /* width: 16rem;*/
  }


  button[data-target="#orange-navbar-collapse"]{
    /*padding: 3px 10px;*/
    border-style:none;
  }

  .navbar-nav {
/*    margin-top: 0rem;*/
  }



  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }

}

@media only screen and (min-width:376px) and (max-width:495px) {

  .btn .caret{
    margin-top: 1rem;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 3rem;
    vertical-align: middle;
  }

  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }


  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }


  textarea.form-control{
    width:100% ;
  }

  #counter{
    right: 40%;
    top: 26%;
  }

  H4#label_record,
  H4#label_after_record{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #container_video{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  #container-button >.btn{
    font-size:10px;
  }

  #continue, #cancel-recording  {
    font-size: 10px;
  }

  #container-button >button,
  #continue, #cancel-recording {
    line-height:10px;
  }


  .container_picto_request_other,
  .container_picto_my_request{
    left: 18%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 30%;
  }

  .container_picto_request_other_in_suggest{
    left: 12%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 25%;
  }

  .labelSigne {
    width: 10rem;
  }

  li[role="presentation"].aside_bckg_li > a > div {
    height: 0em;
  }

  .label_favorite_Liste_H2.container_H2{
    width:19rem;
  }

  .request_whitout_answer.aside_bckg_li{
    width: 100%;
    font-size: 17px;
  }

  #requestTextDescription{
    width: 28rem;
  }

  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th{
    white-space: normal;
  }

  .label_sign_H2.container_H2{
    width:214px;
  }

  .labelSigne a{
    font-size:10px;
  }

  h2, .h2 {
    font-size: 17px;
  }


  .col-xs-12.middle-col{
    margin-bottom: 20px;
  }

  label .text_hyphenation {
    width:13rem;
    margin-left:3rem;
  }

  label {
    font-size: 11px;
  }

  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  [type="radio"] + span::before, [type="radio"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  .text_hyphenation.navbar_title{
    width: 23rem;
  }

  H2.text_hyphenation{
    width: 23rem;
  }

  .col-xs-1 .dropdown-toggle {
    width: 7em;
  }


  .btn .new_blue.pull-left {
    background-position: -1425px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .sort_alpha_blue.pull-left {
    background-position: -1650px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .pinlist_blue.pull-left {
    background-position: -2940px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .pinlist_shared.pull-left {
    background-position: -314px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .pinlist_shared_new.pull-left {
    background-position: -314px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .most_viewed.pull-left {
    background-position: -1560px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .most_active.pull-left {
    background-position: -1530px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .up_black {
    background-position: -1620px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .down_black {
    background-position: -1590px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .smiley_happy_blue.pull-left {
    background-position: -180px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .btn .signe.pull-left {
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 25px;
  }

  .new_blue-signs {
    background-position: right 2px top 0;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 80px;
  }

  .commentary_white {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .sign_see_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .smiley_happy_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .pin_blue {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 6px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  img{
    height:170px;
    width: 170px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }


  button[data-target="#orange-navbar-collapse"]{
    padding: 0px 10px;
    margin-top: 0px;
  }

  .navbar-nav {
    margin-top: 0rem;
  }

  ul.hidden-sm > li[role="presentation"] {
    margin-right: 15px;
    width: 2rem;
    height: 2rem;
  }

  li[role="presentation"] {
    margin-right: 15px;
  }


  #container-input{
    margin: 0 auto;
    width:  85%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
    margin-bottom:10px;
  }

  #reset {
    position: absolute;
    margin-top: 7px;
    right: 22%;
    background-color: #E2E2E2;
    border: none;
  }

  .aside_bckg_li h2,.aside_bckg_li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }

}

@media only screen and (min-width:496px) and (max-width:624px) {

  .btn .caret{
    margin-top: 1rem;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 3rem;
    vertical-align: middle;
  }

  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }


  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea.form-control{
    width:100% ;
  }

  #counter{
    right: 40%;
    top: 26%;
  }

  H4#label_record,
  H4#label_after_record{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #container_video{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  #container-button >.btn{
    font-size:10px;
  }

  #continue, #cancel-recording  {
    font-size: 10px;
  }

  #container-button >button,
  #continue, #cancel-recording {
    line-height:10px;
  }


  .container_picto_request_other,
  .container_picto_my_request{
    left: 26%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 35%;
  }

  .container_picto_request_other_in_suggest{
    left: 22%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 32%;
  }

  .labelSigne {
    width: 10rem;
  }

  li[role="presentation"].aside_bckg_li > a > div {
    height: 0em;
  }

  .label_favorite_Liste_H2.container_H2{
    width:30rem;
  }

  .request_whitout_answer.aside_bckg_li{
    width: 100%;
    font-size: 17px;
  }

  #requestTextDescription{
    width: 28rem;
  }

  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th{
    white-space: normal;
  }

  .label_sign_H2.container_H2{
    width:214px;
  }

  .labelSigne a{
    font-size:10px;
  }

  h2, .h2 {
    font-size: 17px;
  }

  .col-xs-12.middle-col{
    margin-bottom: 20px;
  }

  label .text_hyphenation {
    width:15rem;
    margin-left:3rem;
  }

  label {
    font-size: 12px;
  }

  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  [type="radio"] + span::before, [type="radio"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  .col-xs-12 iframe, .col-xs-12 img, .col-xs-12 embed {
    width: 100%;
  }

  #container-input{
    margin: 0 auto;
    width:  85%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
    margin-bottom:10px;
  }

  #reset{
    position: absolute;
    margin-top: 7px;
    right: 30%;
    background-color: #E2E2E2;
    border:none;
  }



  .aside_bckg_li h2,.aside_bckg_li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:30rem;
  }

  .text_hyphenation.navbar_title{
    width: 30rem;
  }


  .col-xs-1 .dropdown-toggle {
    width: 8em;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 25px;
  }

  .new_blue-signs {
    background-position: right 2px top 0;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 80px;
  }

  .commentary_white {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .sign_see_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .smiley_happy_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .pin_blue {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 12px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  img{
    height:225px;
    width: 225px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }


  button[data-target="#orange-navbar-collapse"]{
    padding: 0px 10px;
    margin-top: 0px;
  }

  .navbar-nav {
    margin-top: 0rem;
  }


  ul.hidden-sm > li[role="presentation"] {
    margin-right: 15px;
    width: 5rem;
    height: 2rem;
  }

  li[role="presentation"] {
    margin-right: 15px;
  }


  H2.text_hyphenation {
    width: 40rem;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }

}

@media only screen and (min-width:625px) and (max-width:667px) {


  .btn .caret{
    margin-top: 1rem;
  }


  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }


  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea.form-control{
    width:100% ;
  }

  #counter{
    right: 40%;
    top: 26%;
  }

  H4#label_record,
  H4#label_after_record{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #container_video{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  #container-button >.btn{
    font-size:10px;
  }

  #continue,#cancel-recording  {
    font-size: 10px;
  }

  #container-button >button,
  #continue, #cancel-recording {
    line-height:10px;
  }


  .container_picto_request_other,
  .container_picto_my_request{
    left: 26%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 35%;
  }

  .container_picto_request_other_in_suggest{
    left: 22%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 32%;
  }



  li[role="presentation"].aside_bckg_li > a > div {
    height: 0em;
  }

  .request_whitout_answer.aside_bckg_li{
    width: 100%;
    font-size: 17px;
  }


  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th{
    white-space: normal;
  }

  .label_sign_H2.container_H2{
    width:214px;
  }

  .labelSigne a{
    font-size:10px;
  }

  h2, .h2 {
    font-size: 17px;
  }


  .col-xs-12.middle-col{
    margin-bottom: 20px;
  }


  label {
    font-size: 12px;
  }

  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  [type="radio"] + span::before, [type="radio"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }


  #container-input{
    margin: 0 auto;
    width:  85%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
    margin-bottom:10px;
  }

  #reset{
    position: absolute;
    margin-top: 7px;
    right: 30%;
    background-color: #E2E2E2;
    border:none;
  }

  .col-xs-1 .dropdown-toggle {
    width: 8em;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 40px;
  }


  .commentary_white {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .sign_see_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .smiley_happy_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .pin_blue {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 25px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }




  button[data-target="#orange-navbar-collapse"]{
    padding: 0px 10px;
    margin-top: 0px;
  }

  .navbar-nav {
    margin-top: 0rem;
  }


  ul.hidden-sm > li[role="presentation"] {
    margin-right: 15px;
    width: 7rem;
    height: 2rem;
  }

  li[role="presentation"] {
    margin-right: 15px;
  }


  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }

}

@media only screen and (min-width:668px) and (max-width:767px) {


  .btn .caret{
    margin-top: 1rem;
  }

  button[data-toggle="dropdown"].btn{
    line-height: 3rem;
    vertical-align: middle;
  }

  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }


  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea.form-control{
    width:100% ;
  }

  textarea#text:focus {
   border-style: none;
  }

  #counter{
    right: 40%;
    top: 26%;
  }

  H4#label_record,
  H4#label_after_record{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #container_video{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  #container-button >.btn{
    font-size:10px;
  }

  #continue, #cancel-recording  {
    font-size: 10px;
  }

  #container-button >button,
  #continue, #cancel-recording {
    line-height:10px;
  }


  .container_picto_request_other,
  .container_picto_my_request{
    left: 33%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 40%;
  }

  .container_picto_request_other_in_suggest{
    left: 22%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 32%;
  }

  .labelSigne {
    width: 10rem;
  }

  li[role="presentation"].aside_bckg_li > a > div {
    height: 0em;
  }

  .label_favorite_Liste_H2.container_H2{
    width:30rem;
  }

  .request_whitout_answer.aside_bckg_li{
    width: 100%;
    font-size: 17px;
  }

  #requestTextDescription{
    width: 28rem;
  }

  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th{
    white-space: normal;
  }

  .label_sign_H2.container_H2{
    width:214px;
  }

  .labelSigne a{
    font-size:10px;
  }

  h2, .h2 {
    font-size: 17px;
  }


  .col-xs-12.middle-col{
    margin-bottom: 20px;
  }

  label .text_hyphenation {
    width:17rem;
    margin-left:3rem;
  }

  label {
    font-size: 12px;
  }

  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  [type="radio"] + span::before, [type="radio"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  .dropdown-menu > li > a{
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }
  #container-input{
    margin: 0 auto;
    width:  85%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
    margin-bottom:10px;
  }

  #reset{
    position: absolute;
    margin-top: 7px;
    right: 18%;
    background-color: #E2E2E2;
    border:none;
  }


  .col-xs-1 .dropdown-toggle {
    width: 8em;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 40px;
  }

  .new_blue-signs {
    background-position: right 2px top 0;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 80px;
  }

  .commentary_white {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .sign_see_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .smiley_happy_white {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .pin_blue {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 6px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  img{
    height:300px;
    width: 300px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }

  .menu {
    background-position: -460px center;
  }

  button[data-target="#orange-navbar-collapse"]{
    padding: 0px 10px;
    margin-top: 0px;
  }

  .navbar-nav {
    margin-top: 0rem;
  }


  ul.hidden-sm > li[role="presentation"] {
    margin-right: 15px;
    width: 7rem;
    height: 2rem;
  }

  li[role="presentation"] {
    margin-right: 15px;
  }

  H2.text_hyphenation {
    width: 48rem;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }

  label .text_hyphenation {
    width: 26rem;
    padding-left: 0rem;
  }

}



