@media only screen and (max-width:320px) {

  .table-responsive {
    font-size: 1.2rem;
  }

  .aside_bckg_li > a > div {
    height: 0em;
  }

  .navbar-nav {
    margin-top: -12.5px;
  }

  .open > .dropdown-menu {
    min-width: 22rem;
  }

  .dropdown-menu > li > a {
    padding: 16px 16px;
    line-height: 2.4rem;
  }

  li[role="presentation"].logon {
    width: 100%;
    position: absolute;
    left: 55%;
  }

  label .text_hyphenation {
    width: 12rem;
    padding-left: 0rem;
  }

  li[role="presentation"] {
    /*margin-top: -15px;*/
    margin-right: 15px;
    width: 2rem;

  }

  /*li[role="presentation"] > a > div{*/
  /*height: 30px;*/
  /*}*/
  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }

  /*start customisation player*/
  .player .fullscreen a {
    top: 2px;
    width: 20px;
  }

  .player {
    height: 25px;
    width: 100%;
    font-size: 25px;
    bottom: 10px;
  }

  .player .volume-icon span::before {
    border-width: 10px 10px 10px medium;
    top: -6px;
  }

  .player .pause-button {
    padding: 2px;
  }

  .player .play-pause {
    padding: 0px;
  }

  .player .play-pause {
    font-size: 25px;
    margin-top: -6px;
  }

  .player .progress {
    margin: 2px 0px 0px;
  }

  .player .v-change-11 span:after {
    top: -3px;
  }

  .player .v-change-10 span:after {
    top: -2px;
  }

  .player .v-change-9 span:after {
    top: -2px;
  }

  .player .v-change-8 span:after {
    top: -1px;
  }

  .player .v-change-7 span:after {
    top: -1px;
  }

  .player .v-change-6 span:after {
    top: 0px;
  }

  .player .v-change-5 span:after {
    top: 0px;
  }

  .player .v-change-4 span:after {
    top: 1px;
  }

  .player .v-change-3 span:after {
    top: 1px;
  }

  .player .v-change-2 span:after {
    top: 2px;
  }

  .player .v-change-1 span::after {
    color: #f16e00 !important;
    content: "+";
    font-size: 45px;
    left: 21px;
    top: -30px;
    z-index: 2;
  }

  .player .v-change-11 span::after {
    top: -3px;
  }

  /*end customisation player*/
  .aside_bckg_li h2, .aside_bckg_li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
  }

  H2.text_hyphenation {
    width: 23rem;
  }

  .text_hyphenation {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10rem;
  }

  .text_hyphenation.navbar_title {
    width: 17rem;
  }

  /*start dropdown*/
  .col-xs-1 .adjust_size.dropdown-toggle {
    width: auto;
  }

  .col-xs-1 .dropdown-toggle {
    width: 6em;
  }

  .col-xs-1 .caret {
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .col-sm-1 .caret { /* for iphone6*/
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .btn .most_recent.pull-left {
    background-position: -1000px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .alphabetic.pull-left {
    background-position: -1100px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .favorite_signe.pull-left {
    background-position: -170px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .personal_favorite_signe.pull-left {
    background-position: -210px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .most_viewed.pull-left {
    background-position: -1040px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .most_active.pull-left {
    background-position: -1020px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .direction_up {
    background-position: -1080px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .direction_down {
    background-position: -1060px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .sentiment_positif.pull-left {
    background-position: -120px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .signe.pull-left {
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  /*end dropdown*/
  .add {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1004px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .add_favorite_signe_header {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -285px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .share_signe {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -420px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .newSigne {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1305px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .require_video_inverse {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -750px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .request_signe {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1065px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .my_request_signe {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1680px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  #labelSigne > a {
    padding-right: 18px;
  }

  .tooltip_newSigne {
    background-position: right 2px top 0;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 80px;
  }

  .tooltip_comment {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .tooltip_eye {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }

  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .search_signe_header {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -450px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .menu_detail {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -346px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  #backtoHomepage {
    width: 24%;
  }

  .col-xs-12 a > object {
    width: 100%;
  }

  .col-xs-12 iframe, .col-xs-12 img, .col-xs-12 embed {
    width: 100%;
  }

  .video video {
    height: 56%;
    width: 100%;
  }

  .form-control {
    padding-left: 0;
    padding-right: 0;
    text-overflow: ellipsis;
    /*width: 75%;*/
    /*width: 100%;*/
  }

  .col-md-4.col-xs-6.col-sm-4 object {
    width: 100%;
  }

  *::before, *::after {
    box-sizing: border-box;
  }

  img {
    height: 130px;
    width: 130px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }

  input.container_H2[type="text"] {
    width: 200px;
  }

  input.container_H2[type="file"] {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  textarea {
    width: 200px;
    margin-bottom: 10px;
  }

  .navbar-nav > li > a {
    padding-right: 10px;
  }

  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }

  label {
    font-size: 12px;
  }

  .spinner_show {
    height: 24%;
  }

  ul.navbar-toggle-complement.nav.navbar-nav {
    /*margin-top: 15px;*/
    margin-right: -15px;
  }

  #button-top {
    position: relative;
    margin-bottom: 10px;
  }

  #button-bottom {
    position: relative;
    visibility: hidden;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 6px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  #reset {
    position: absolute;
    top: 6px;
    right: 20%;
    background-color: #E2E2E2;
    border: none;
  }

  #container-input {
    margin: 0 auto;
    width: 85%
  }

  #myform {
    width: 100%;
  }

  #myform input[type=search] {
    border: 2px solid;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
  }

  #myform input[type=search] {
    padding-right: 18%;
  }

}

@media only screen and (min-width:321px) and (max-width:375px) {

  .col-xs-1 .dropdown-toggle{
    width: 6em;
  }

  #container-input{
    margin: 0 auto;
    width:  85%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
  }

  #reset{
    position: absolute;
    top: 6px;
    right: 19%;
    background-color: #E2E2E2;
    border:none;
  }


  .table-responsive{
    font-size: 1.2rem;
  }

  .col-xs-12 iframe ,.col-xs-12 img ,.col-xs-12 embed{
    width: 100%;
  }


  .aside_bckg_li h2,.aside_bckg_li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
  }

  H2.text_hyphenation{
    width: 23rem;
  }

  .menu_detail {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -346px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .col-xs-1 .dropdown-toggle {
    width: 6em;
  }

  .btn .most_recent.pull-left{
    background-position: -1000px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .alphabetic.pull-left{
    background-position: -1100px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .favorite_signe.pull-left{
    background-position: -170px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .personal_favorite_signe.pull-left{
    background-position: -210px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .most_viewed.pull-left{
    background-position: -1040px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .most_active.pull-left{
    background-position: -1020px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .direction_up{
    background-position: -1080px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .direction_down{
    background-position: -1060px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .sentiment_positif.pull-left{
    background-position: -120px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .signe.pull-left{
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }


  .open > .dropdown-menu{
    min-width: 22rem;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .btn .signe.pull-left{
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }


  .search_signe_header{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -450px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .add {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1004px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .add_favorite_signe_header {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -285px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .share_signe{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -420px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .newSigne {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1305px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .require_video_inverse {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -750px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }


  .request_signe {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1065px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }
  .my_request_signe {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1680px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .tooltip_comment {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .tooltip_eye {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 6px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }


  .text_hyphenation.navbar_title{
    width: 17rem;
  }

  img{
    height: 140px;
    width: 140px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }


  li[role="presentation"] {
    width: 4rem;
  }

  /*H2.text_hyphenation {*/
    /*width: 48rem;*/
  /*}*/

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  /*.form-control {*/
    /*width: 100%;*/
  /*}*/

  label .text_hyphenation {
    width: 26rem;
    padding-left: 0rem;
  }

}

/*# */
@media only screen and (min-width:376px) and (max-width:495px) {

  H2.text_hyphenation{
    width: 23rem;
  }

  .btn .most_recent.pull-left{
    background-position: -1000px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .alphabetic.pull-left{
    background-position: -1100px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .favorite_signe.pull-left{
    background-position: -170px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .personal_favorite_signe.pull-left{
    background-position: -210px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .most_viewed.pull-left{
    background-position: -1040px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .most_active.pull-left{
    background-position: -1020px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .btn .direction_up{
    background-position: -1080px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .direction_down{
    background-position: -1060px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .sentiment_positif.pull-left{
    background-position: -120px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
  .btn .signe.pull-left{
    background-position: -975px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }


  .add {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1004px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .search_signe_header{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -450px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .add_favorite_signe_header {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -285px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .share_signe{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -420px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .newSigne {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1305px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .require_video_inverse {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -750px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }


  .request_signe {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1065px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }
  .my_request_signe {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1680px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }


  .col-xs-1 .dropdown-toggle {
    width: 6em;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 25px;
  }


  .tooltip_comment {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .tooltip_eye {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 6px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  img{
    /*height:250px;*/
    /*width: 250px;*/
    height:170px;
    width: 170px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }

  .menu_detail {
    background-position: -460px center;
    background-image: url("/img/sprite_picto_400X400.png");
  }

  li[role="presentation"] {
    width: 6rem;
  }


  #container-input{
    margin: 0 auto;
    width:  85%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 18%;
  }

  #reset {
    position: absolute;
    top: 6px;
    right: 22%;
    background-color: #E2E2E2;
    border: none;
  }

  .aside_bckg_li h2,.aside_bckg_li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  /*.form-control {*/
    /*width: 100%;*/
  /*}*/

  label .text_hyphenation {
    width: 26rem;
    padding-left: 0rem;
  }

}



@media only screen and (min-width:496px) and (max-width:624px) {

  .col-xs-1 .dropdown-toggle {
    width: 8em;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 25px;
  }


  .tooltip_comment {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .tooltip_eye {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 12px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  img{
    height:225px;
    width: 225px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }

  .menu_detail {
    background-position: -460px center;
    background-image: url("/img/sprite_picto_400X400.png");
  }

  li[role="presentation"] {
    width: 7rem;
  }

  H2.text_hyphenation {
    width: 48rem;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  /*.form-control {*/
  /*width: 100%;*/
  /*}*/

  label .text_hyphenation {
    width: 26rem;
    padding-left: 0rem;
  }

}

@media only screen and (min-width:625px) and (max-width:667px) {

  .col-xs-1 .dropdown-toggle {
    width: 8em;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 40px;
  }


  .tooltip_comment {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .tooltip_eye {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 25px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  img{
    height:225px;
    width: 225px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }

  .menu_detail {
    background-position: -460px center;
    background-image: url("/img/sprite_picto_400X400.png");
  }

  li[role="presentation"] {
    width: 7rem;
  }

  H2.text_hyphenation {
    width: 48rem;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  /*.form-control {*/
  /*width: 100%;*/
  /*}*/

  label .text_hyphenation {
    width: 26rem;
    padding-left: 0rem;
  }

}


@media only screen and (min-width:668px) and (max-width:767px) {

  .col-xs-1 .dropdown-toggle {
    width: 8em;
  }

  .col-xs-1 .caret{
    position: absolute;
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 40px;
  }


  .tooltip_comment {
    background-position: right 0px top 0px;
    background-size: auto 16px;
    height: 14px;
    width: 16px;
    right: 63px;
  }

  .tooltip_eye {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 14px;
    width: 16px;
    right: 46px;
  }


  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 32px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 15px;
  }

  .tooltip_variante {
    bottom: 25px;
    background-color: aliceblue;
    height: 10px;
    margin-left: 6px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 8px;
  }

  img{
    height:300px;
    width: 300px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
  }

  .menu_detail {
    background-position: -460px center;
  }

  li[role="presentation"] {
    width: 7rem;
  }

  H2.text_hyphenation {
    width: 48rem;
  }

  .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }

  label .text_hyphenation {
    width: 26rem;
    padding-left: 0rem;
  }

}


/*!* Portrait Iphone 6*!*/
/*@media only screen*/
/*and (min-device-width: 375px)*/
/*and (max-device-width: 667px)*/
/*and (-webkit-min-device-pixel-ratio: 2)*/
/*and (orientation: portrait) {*/

/*}*/

