@media only screen and (min-width:768px) and (max-width:1024px) {

  /* Begin login page /login */

  .navbar-header{
    float: initial;
  }

  /* End login page /login */

  /* Begin index page /index */

  .navbar-nav{
    float:right;
  }

  .navbar-toggle {
    display: block;
  }

  .container_H2.container_header_H2.text_hyphenation{
    width: auto;
    padding-right: 20px;
    margin-left: 7px;
  }

  /* End index page /index */

  /* Begin Voir les signes page /sec/signs */


  /* End Voir les signes page /sec/signs */


  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
   color: #333;
   background-color: #d4d4d4;
   border-color: #8c8c8c;
   line-height: 4rem;
   vertical-align: middle;
  }

  .col-sm-5 span.hidden-xs{
  margin-left: 5px;
  }


  .dropdown-menu > li > a > span{
    margin-left: 1rem;
  }

}
