@media only screen and (min-width:768px) and (max-width:1024px) {

  .btn .caret{
    margin-top: 1.5rem;
    margin-right: 7px;
  }

  .divider-space input[name="lastName"],
  .divider-space input[name="firstName"],
  .divider-space input[name="entity"],
  .divider-space input[name="email"],
  .divider-space input[name="login"],
  .divider-space input[name="password"],
  .divider-space input[name="username"] {
    width: 60%;
  }

  .divider-space {
    margin-bottom: 10%;
  }

  .divider-space H2{
    color:#F16E00;
  }

  .divider-space input{
    height: 40px;
    border-radius: 15px;
  }


  .col-xs-offset-2{
    margin-left: 28%;
  }

  #label_welcome{
    font-weight: bold;
  }


  #label_dictionary{
    display: inline-block;
  }

  #label_signatwork{
    display: inline-block;
    margin-left: 2px;
    font-size: small;
  }

  .col-xs-9{
    padding-left: 0px;
  }

  input[name="username"],
  input[type="password"],
  input[name="email"]{
    width: 90%;
  }

  textarea#text {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea.form-control{
    width:100% ;
  }

  .container_picto_request_other,
  .container_picto_my_request{
    left: 33%;
    top: 5px;
  }

  .container_title_request_other,
  .container_title_my_request{
    left: 40%;
  }

  .container_picto_request_other_in_suggest{
    left: 22%;
    top: 5px;
  }

  .container_title_request_other_in_suggest{
    left: 32%;
  }

  .embed-responsive-4by3{
    padding-bottom: 130%;
  }

  .container_iframe{
    /*border: 1px solid;*/
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }


  label .text_hyphenation {
    width:16rem;
  }

  label {
    font-size: 12px;
  }

  [type="checkbox"] + span::before, [type="checkbox"] + [type="hidden"] + span::before {
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 6px;
    width: 15px;
  }


  .container_label_checkbox{
    width: 62%;
    margin: 0 auto;
  }


  .container_header_H2{
  width:8rem;
  }


  .btn{
    line-height: 2rem;
    vertical-align: middle;
  }

  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
   color: #333;
   background-color: #d4d4d4;
   border-color: #8c8c8c;
   line-height: 4rem;
   vertical-align: middle;
  }

  #container-input{
    margin: 0 auto;
    width:  53%
  }

  #myform input[type=search]{
    border: 2px solid ;
    border-radius: 11px;
    box-sizing: border-box;
    padding-right: 10%;
    margin-bottom:10px;
  }

  #reset{
    position: absolute;
    margin-top: 7px;
    right: 36%;
    background-color: #E2E2E2;
    border:none;
  }

  .col-sm-5 span.hidden-xs{
  margin-left: 5px;
  }


  .tooltip_newSigne {
    background-position: right 2px top 0;
    background-size: auto 15px;
    height: 25px;
    width: 45px;
    right: 80px;
  }

  .add {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1004px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .search_signe_header{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -450px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .direction_up {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -1618px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }


  li[role="presentation"] {
    width: 12rem;
  }

  .container_tooltip {
    background-color: red !important;
    position: absolute !important;
    right: 55px;
  }


  .menu_detail {
    background-position: -460px center;
    background-image: url("/img/sprite_picto_400X400.png");
  }

  img {
    height: 220px;
    width: 220px;
    object-fit: contain;
    font-family: 'object-fit: contain'; /* for IE*/
    overflow: hidden;
    border: 1px solid;
  }

  #labelSigne > a {
    padding-left: 15px;
    padding-right: 18px;
  }

  .tooltip_newSigne {
    background-position:right 5px top 0px;
    background-size: auto 25px;
    height: 50px;
    width: 83px;
    right: 120px;
  }

  .tooltip_comment {
    background-position: right 0px top 0px;
    background-size: auto 25px;
    height: 42px;
    width: 40px;
    right: 94px;
  }

  .tooltip_eye {
    background-position: right 22px top 0px;
    background-size: auto 25px;
    height: 50px;
    width: 63px;
    right: 43px;
  }

  .tooltip_positif {
    background-position: right 2px top 0px;
    background-size: auto 25px;
    height: 50px;
    width: 42px;
    right: 35px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 25px;
    height: 50px;
    width: 42px;
    right: 10px;
  }

  .col-lg-3 span.caret {
    position: absolute;
    left: 17px;
    top: 24px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
  }

  .dropdown-menu > li > a > span{
    margin-left: 1rem;
  }

  iframe {
    height: 37rem;
    width: 100%;
  }


  .tooltip_variante {
    background-color: aliceblue;
    bottom: 30px;
    height: 20px;
    position: absolute;
    width: 20px;
    border-radius: 10px;
    left: 38px;
  }



}
