@media only screen and (min-width:625px) and (max-width:667px) {

  /* Begin login page /login */

  .illustration_welcome {
    background-position: -4480px center;
    background-size: auto 110px;
    height: 110px;
    width: 110px;
  }

  #label_invite {
    font-size: 20px;
  }

  span.form-signin-heading {
    font-size: 20px;
  }

  .h5, h5 {
    font-size: 16px;
  }

  .btn_signin {
    font-size: 16px;
  }

  input[type="text"],[type="email"],[type="password"] {
    font-size: 18px;
  }

  .logo-text_white {
    background-position: -2179px center;
    background-size: auto 50px;
    width: 117px;
  }

  .chevron{
    background-position: -3489px center;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
  }

  h2, .h2 {
    font-size: 20px;
    font-weight: bold;
  }

  h4, .h4 {
    font-size: 18px;
  }

  H2.text_hyphenation {
    width: 48rem;
  }

  .modal-footer>.btn {
    font-size: 18px;
  }

  /* End login page /login */

  /* Begin Conditions d'utilisation /cgu */

  .navbar_title {
    font-size: 24px;
  }

  h1, .h1 {
    font-size: 24px;
    font-weight: bold;
    color:#4866F7;
  }

  .cgu_conditions_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -276px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
    margin-top: 4px;
  }
  .cgu_conditions_lsf_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -313px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
    margin-top: 4px;
  }

  #read_condition_of_use .modal-dialog,
  #read_condition_of_use .modal-content,
  #read_personnal_data .modal-dialog,
  #read_personnal_data .modal-content {
    height: 95%;
  }

  .cgu_conditions_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -391px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 40px;
    width: 31px;
    margin-right: 20px;
    margin-top: 3px;
  }

  .cgu_conditions_lsf_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -353px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 39px;
    width: 30px;
    margin-right: 20px;
    margin-top: 5px;
  }

  a.red {
    font-size: 18px;
    line-height: 25px;
    border-style: solid;
    border-radius: 10px;
  }

  /* End Conditions d'utilisation /cgu */

  /* Begin index page /index */

  .search_circle {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    margin-top: 11px;
  }

  .navbar-toggle {
   margin-top: 10px;
  }

  .menu {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
/*    margin-left: 15px;*/
  }


  .sign_see {
    background-position: -4350px center;
    background-size: auto 45px;
    height: 45px;
    width: 45px;
    margin-top: 2px;
  }


  .sign_ask-for_black {
    background-position: -4208px center;
    background-size: auto 45px;
    height: 45px;
    width: 45px;
    margin-top: 2px;
  }

  .sign_add {
    background-position: -4113px center;
    background-size: auto 45px;
    height: 45px;
    width: 45px;
    margin-top: 2px;
  }



  .lexical {
    font-size:24px;
  }

  .sidebar-header>h2 {
    font-size: 24px;
  }



 .navbar-nav {
    margin-top: 0rem;
  }


  .member_me_black{
    background-position: -1574px center;
    background-size: auto 30px;
    height: 45px;
    width: 30px;
  }

  .group_black{
    background-position: -864px center;
    background-size: auto 30px;
    height: 42px;
    width: 30px;
  }

  .pinlist_black{
    background-position: -2112px center;
    background-size: auto 30px;
    height: 40px;
    width: 30px;
  }

  .settings_black{
    background-position: -2556px center;
    background-size: auto 30px;
    height: 44px;
    width: 30px;
  }

  .about{
    background-position: 0px center;
    background-size: auto 30px;
    height: 44px;
    width: 30px;
  }

  #dismiss {
    background-position: -3805px center;
    background-size: auto 30px;
    height: 45px;
    width: 30px;
  }



  h4.container_H2{
    width: 46rem;
  }

  h4.container_header_H2{
    width: 37rem;
  }

  /* End index page /index */

  /* Begin Voir les signes /sec/signs */

  img{
    height:100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
    margin-bottom: 20px;
  }

  .logo-SW_blue {
    background-position: -2336px center;
    background-size: auto 55px;
    width: 55px;
  }

  .back_white {
    background-position: -122px center;
    background-size: auto 33px;
    width: 46px;
    margin-left: 0px;
  }

  .down_black {
    background-position: -2782px center;
    background-size: auto 25px;
    height: 28px;
    width: 25px;
  }

  .new_blue {
    background-position: -1544px center;
    background-size: auto 25px;
    height: 44px;
    width: 25px;
  }

  .btn .new_blue.pull-left {
    background-position: -1544px center;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
  }

  .v-done-down_black {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2758px center;
    background-repeat: no-repeat;
    background-size: auto 25px;
    height: 48px;
    width: 46px;
  }

  .menu_down_black {
    background-position: -3151px center;
    background-size: auto 25px;
    height: 30px;
    width: 17px;
  }

  .all-signs_blue {
    background-position: -3118px center;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }

  .btn .all-signs_blue.pull-left {
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .v-done_black {
    background-position: -2754px center;
    background-size: auto 25px;
    height: 48px;
    width: 25px;
  }

  .sort_alpha_blue {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2648px center;
    background-repeat: no-repeat;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-right: 5px;
  }

  .btn .sort_alpha_blue.pull-left {
    margin-left: 5px;
    margin-top: 3px;
  }


  #myform input[type=search] {
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 10px;
    line-height: 45px;
    height: 45px;
    font-size: 18px;
  }

  #myform input::placeholder{
    color:white;
    height: 45px;
    line-height: 45px;
    text-align: center;
  }

  #reset{
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2885px center;
    background-repeat: no-repeat;
    background-size: auto 25px;
    height: 26px;
    width: 25px;
    position: absolute;
    margin-top: 10px;
    right: 13%;
    background-color: #000000;
    border:none;
    color:#FFFFFF;
  }

  .labelSigne a{
    font-size:16px;
    white-space: nowrap;
    padding-left: 6px;
  }

  .labelSigne {
    font-size: 14px;
    white-space: nowrap;
    /*max-width: 223px;*/
    text-align: center;
    /*padding-left: 73px;*/
  }

  .labelVideo {
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    padding-left: 73px;
  }

  .commentary_white {
    background-position: -254px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    right: 22px;
    bottom: 4px;
  }

  .sign_see_white {
    background-position: -1954px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    right: 123px;
    bottom: 5px;
  }

  .smiley_happy_white {
    background-position: -2077px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    right: 73px;
    bottom: 5px;
  }

  .smiley_happy_white_in_frame {
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 54px;
  }

  .pin_blue {
    background-position: -1321px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    left: 50px;
  }

  .pin_blue-profile {
    background-position: -1321px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    left: 26px;
  }

  .smiley_happy_blue-sign {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2518px center;
    background-repeat: no-repeat;
    background-size: auto 25px;
    height: 45px;
    width: 25px;
  }

  .smiley_happy_blue {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -4029px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 50px;
    width: 40px;
  }

  .pinlist_shared {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2238px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 27px;
    width: 32px;
    margin-top: 9px;
  }

  .pinlist_shared_new {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2268px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 48px;
    width: 32px;
  }

  .btn .pinlist_shared_new.pull-left {
    background-position: -2193px center;
    background-size: auto 29px;
    height: 33px;
    width: 30px;
  }

  .pinlist_blue {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -1927px center;
    background-repeat: no-repeat;
    background-size: auto 27px;
    height: 48px;
    width: 24px;
    margin-right: 0px;
  }

  .btn .smiley_happy_blue.pull-left {
    background-position: -2518px center;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    margin-top: 3px;
  }

  .btn .pinlist_shared.pull-left {
    margin-top: 3px;
  }

  .pin_blue_in_frame {
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    left: -33px;
  }

  .tooltip_variante {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 15px;
    color:white;
    right: 19px;
    position:absolute;
  }

  .new_blue-signs {
    background-position: -1234px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    left: 30px;
  }

  .new_blue-signs-profile {
    background-position: -1234px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    left: 8px;
  }


  button[data-toggle="dropdown"].btn {
    line-height: 3rem;
    vertical-align: middle;
    font-weight: bold;
    width: 100%;
    font-size: 18px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
    font-weight: bold;
    font-size: 16px;
  }

  .open > .dropdown-menu {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 60%;
  }

  .open>.dropdown-menu {
    width: 100%;
  }

  .container_tooltip_in_image {
    height: 30px;
    width: 52%;
    /*border-radius: 15px;
    background-color: #4866F7;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);*/
    position: absolute;
    bottom: 36px;
    margin-left: 70px;
  }

  .text_hyphenation.navbar_title.pull-right{
    width: 51rem;
    font-size: 24px;
  }


  /* End Voir les signes /sec/signs */

  /* Begin Demandes de signes /sec/requests */

  .member_ask_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1882px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
  }

  .group_ask_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4745px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .sign_ask-for_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3784px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 48px;
    width: 40px;
  }

  .sign_ask-for_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3825px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  /* End Demandes de signes /sec/requests */

  /* Begin Mes Demandes /sec/my-requests */
  #reset_search_request{
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2885px center;
    background-repeat: no-repeat;
    background-size: auto 25px;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 6%;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
  }

  /* End Mes Demandes /sec/my-requests */


  /* Begin Fiche détail de ma demande /sec/my-request-detail */
  .label_request_H2.container_H2 {
    width: 58rem;
    margin-left: 0px;
  }

  .description_movie_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -665px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .definition_text_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -778px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .description_text_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -822px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 46px;
    width: 40px;
    margin-right: 20px;
  }

  .signlanguage_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3995px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 47px;
    width: 40px;
    margin-right: 20px;
  }

  .camera_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -169px center;
    background-repeat: no-repeat;
    background-size: auto 35px;
    height: 46px;
    width: 35px;
  }

  .folder_blue{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -970px center;
    background-repeat: no-repeat;
    background-size: auto 35px;
    height: 46px;
    width: 35px;
  }

  .prio_blue_whitebackground {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3152px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  .x-close_blue_whitecircle {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4574px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  H4#label_record,
  H4#label_after_record,
  H4#label_record_job_description,
  H4#label_after_record_job_description {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4866F7;
  }

  #counter {
    font-size: 40px;
    right: 45%;
    top: 43%;
    height: 55px;
    width: 55px;
    border-radius: 55px;
  }

  .rewind_black {
    background-position: -3235px center;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
  }

  .x-close2_black {
    background-position: -5071px center;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
  }

  .v-done2_blue {
    background-position: -4372px center;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
  }

  #container-button > button,
  #cancel-recording {
    border: none;
    background-color: transparent;
    color: #000000;
    /*padding: 0px;
    padding-right: 28px;*/
  }


  #container-button > button,
  #continue {
    border: none;
    background-color: transparent;
    color: #4866F7;
  }

  #continue, #cancel-recording {
    font-size: 18px;
    /*padding-right: 87px;*/
  }

  #retry-recording {
    /*margin-left: -30px;
    margin-right: 54px;*/
  }

  .record {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4790px center;
    background-repeat: no-repeat;
    background-size: auto 60px;
    height: 60px;
    width: 60px;
    border: none;
    background-color: transparent;
  }

  .stop {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -8568px center;
    background-repeat: no-repeat;
    background-size: auto 80px;
    height: 50px;
    width: 80px;
    border: none;
    background-color: transparent;
  }

  #retry-recording{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #000000;
  }

  .prio_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3109px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .x-close_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4576px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  input[type=file] {
    font-size: 18px;
    display: inline-block;
  }

  /* End Fiche détail de ma demande /sec/my-request-detail */

  /* Begin Mes Demandes /sec/other-request-detail */
  #my-other-requests {
    text-align: right;
  }
  /* End Mes Demandes /sec/other-request-detail */

  /* Begin Nouveau signe /sec/signs-suggest */

  .edit_black {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -709px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-top:10px;
  }

  .sign_add_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3699px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 47px;
    width: 40px;
    margin-right: 20px;
  }

  #InputFileLabel {
    font-size: 18px;
  }

  /* End Nouveau signe /sec/signs-suggest */

  /* Begin Demander un signe /sec/signs-request */

  textarea::-webkit-input-placeholder {
    color: #8C8C8C;
  }

  textarea.form-control{
    width:100% ;
    text-align: left;
    font-size: 18px;
  }

  .descriptions_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -863px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 48px;
    width: 40px;
  }

  .descriptions_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -907px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }


  /* End Demander un signe /sec/signs-request */

  /* Begin Fiche signe /sign */
  .pin_add_white-header {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }

  .label_sign_H2.container_H2{
    width: 52rem;
    margin-left: 0px;
  }

  textarea#text {
    width: 100%;
    margin-bottom: 10px;
    background-color: #EBEBEB;
    border-style: none;
    border-radius: 0px;
    font-size: 18px;
    color: #4866F7;
  }

  textarea:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
  }

  .variant_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4330px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }
  .commentary_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -467px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .smiley_happy_white_in_frame {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3117px center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: auto 30px;
    height: 37px;
    width: 30px;
    right: 80px;
  }

  .pin_blue_in_frame {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1984px center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: auto 30px;
    height: 36px;
    width: 30px;
    left:-70px;
  }

  .smiley_happy_menu_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4070px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 49px;
    width: 40px;
  }

  .commentary_white-modal_header {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -509px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  .smiley_unhappy_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-color: Transparent;
    border: none;
    background-position: -4192px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 49px;
    width: 40px;
  }

  .modal-body .smiley_happy_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4027px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 46px;
    width: 40px;
  }

  h4.rate.container_H2{
    width: 40rem;
  }

  .smiley_happy_menu_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4113px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  .smiley_happy_blue_after_rate {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4028px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 46px;
    width: 40px;
    margin-left: 100px;
  }

  .smiley_unhappy_blue_after_rate{
    background-image: url("/img/sprite_picto_400X400.png");
    background-color: Transparent;
    border: none;
    background-position: -4194px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 46px;
    width: 40px;
    margin-left:69px;
  }

  .variant_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4783px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  .pinlist_add_white{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2769px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  .pinlist_add{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2044px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 46px;
    width: 31px;
  }

  .pin_add_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2557px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  /* End Fiche signe /sign */

  /* Begin Fiche détail signe /sign/"sign_id""/"video_id"/detail */

  .rewind_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4863px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .rewind_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4905px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  .history_label.noHover_nopointer > a >h2{
    font-size: 20px;
  }

  .description_sign {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -740px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 48px;
    width: 40px;
  }

  .history_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -4946px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 48px;
    width: 40px;
  }

  /* End Fiche détail signe /sign/"sign_id"/"video_id"/detail */

  /* Begin Description du signe /sec/sign/"sign_id"/definition */
  .description_movie_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -709px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 46px;
    width: 32px;
    margin-right: 20px;
  }

  /* End Description du signe /sec/sign/"sign_id"/definition */

  /* Begin Profil /sec/my-profil */

  .edit_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1026px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  /* End Profil /sec/my-profil */

  /* Begin Votre Métier ? /sec/my-job */

  .group_blue{
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -895px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
  }

  .group_member_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -993px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-right: 16px;
  }

  /* End Votre Métier ? /sec/my-job */

  /* Begin Communautés /sec/communities */

  .group_project_add{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1365px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
  }

  .group_project_add_white{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1409px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 41px;
    margin-right: 20px;
  }

  .see_group_member_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1324px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 49px;
    width: 40px;
  }

  .see_group_project_me_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1498px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 49px;
    width: 40px;
  }

  /* End Communautés /sec/communities */

  /* Begin Créer une communauté /sec/communities-suggest */

  .member_add_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1839px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 42px;
  }

  .see_group_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1192px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .see_group_project_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1454px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  /* End Créer une communauté /sec/communities-suggest */

  /* Begin Communauté /sec/community/create */

  #reset_search_user{
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2885px center;
    background-repeat: no-repeat;
    background-size: auto 25x;
    height: 26px;
    width: 25px;
    position: absolute;
    margin-top: 9px;
    right: 13%;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
  }

  .member_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1441px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 28px;
    width: 30px;
    margin-right: 16px;
  }

  .subtitle {
    font-size: 20px;
  }

  /* End Communauté /sec/community/create */

  /* Begin Communauté /sec/community/"community_id" */

  .member_me {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2056px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .settings2_blue{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3447px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .member_project_admin {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2180px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .member_project_admin_me {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2217px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .member_project_empty-white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2257px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }
  /* End Communauté /sec/community/"community_id" */

  /* Begin Description de la communauté /sec/community/"community_id"/description */
  /* End Description de la communauté /sec/community/"community_id"/description */

  /* Begin Gérer /sec/community/"community_id"/manage-community */
  .edit_blue{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -991px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .member_choose_blue{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1964px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 42px;
  }

  .group_delete_blue{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1233px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .group_delete_white{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1279px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 44px;
    width: 40px;
    margin-right: 12px;
  }
  /* End Gérer /sec/community/"community_id"/manage-community */

  /* Begin Communauté /sec/community/"community_id"/modify */

  .member_choose_white{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2009px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 44px;
    width: 42px;
    margin-right: 20px;
  }

  /* End Communauté /sec/community/"community_id"/modify */

  /* Begin Signes préférés /sec/favorites */

  .label_favorite_Liste_H2.container_H2{
    width: 46rem;
  }

  /* End Signes préférés /sec/favorites */

  /* Begin Liste /sec/favorite/"favorite_id" */

  .share_blue{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3537px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .add-remove{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -74px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .pin_black {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1951px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 45px;
    width: 30px;
  }

  /* End Liste /sec/favorite/"favorite_id" */

  /* Begin Gérer la liste /sec/favorite/"favorite_id"/manage-favorite */

  .copy_blue{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -587px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }

  .pinlist_delete{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -2888px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
  }


  .copy_white{
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -626px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 44px;
    width: 40px;
    margin-right: 12px;
  }

  .pinlist_delete_white{
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -2936px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 44px;
    width: 40px;
    margin-right: 12px;
  }
  /* End Gérer la liste /sec/favorite/"favorite_id"/manage-favorite */

  /* Begin Partager avec... /sec/favorite/share */
  .group_project_me_blue {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -1123px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-right:16px;
  }

  .group_project_blue {
    background-image: url(/img/sprite_picto_400X400.png);
    background-position: -1090px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-right: 16px;
  }

  /* End Partager avec... /sec/favorite/share */

  /* Begin Choisir les signes /sec/favorite/"favorite_id"/associate-sign */

  label .text_hyphenation {
    width:auto;
    margin-left:3rem;
    white-space: nowrap;
    font-size: 16px;
  }

  .add-remove_white {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -115px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 45px;
    width: 40px;
    margin-right: 20px;
  }

  /* End Choisir les signes /sec/favorite/"favorite_id"/associate-sign */


  /* Begin A propos de Signs@Work /sec/about */

  .cgu_conditions_blue_about {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -276px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 40px;
    width: 40px;
    margin-top: 4px;
  }

  .about_title {
    text-align: center;
    color: #4866F7;
    font-size:24px;
  }

  .chevron_about_see_cgu{
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -3487px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
  }

  .contact {
    background-image: url("/img/sprite_picto_400X400.png");
    background-position: -546px center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 39px;
    width: 40px;
    margin-top: 4px;
  }


  /* End A propos de Signs@Work /sec/about */

  /* Begin Conditions d'utilisation Signs@Work /sec/about-cgu */
  /* End Conditions d'utilisation Signs@Work /sec/about-cgu */
}
