@media only screen and (min-width:625px) and (max-width:667px) {

  /* Begin index page /index */
  .search_signe_header {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }

  .navbar-toggle {
   margin-top: 0px;
  }

  .menu_detail {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    margin-left: 15px;
  }

  .label_favorite_Liste_H2.container_H2{
    width: 46rem;
  }

  img{
    height:225px;
    width: 225px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
    margin-bottom: 20px;
  }

  /* End index page /index */

  /* Begin Menu */
  #sidebar.active {
    left: 157px;
  }

  #sidebar{
    width: 483px;
    left: -500px;
  }

  /* End Menu */

  /* Begin Voir les signes /sec/signs */
  .navbar_title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    text-align:right;
  }

  #myform input[type=search] {
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 10px;
    line-height: 45px;
    height: 45px;
    width: 52rem;
  }

  #myform input::placeholder{
    color:white;
    height: 45px;
    line-height: 45px;
    text-align: center;
  }

  #reset{
    position: absolute;
    margin-top: 10px;
    right: 15%;
    background-color: #000000;
    border:none;
    color:#FFFFFF;
  }

  #labelSigne a{
    font-size:14px;
    white-space: nowrap;
  }

  #labelSigne.text_hyphenation {
    font-size: 14px;
    white-space: nowrap;
    max-width: 223px;
    text-align: center;
    padding-left: 73px;
  }

  #labelVideo.text_hyphenation {
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    padding-left: 73px;
  }

  .tooltip_comment {
    background-position: -458px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 11px;
    bottom: 6px;
  }

  .tooltip_eye {
    background-position: -502px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 95px;
    bottom: 7px;
  }

  .tooltip_positif {
    background-position: -486px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 54px;
    bottom: 7px;
  }

  .tooltip_positif_in_frame {
    background-position: -486px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 54px;
  }

  .tooltip_favorite {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    left: 70px;
  }

  .tooltip_favorite_in_frame {
    background-position: right 2px top 0px;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    left: -33px;
  }

  .tooltip_variante {
    background-color: blue;
    margin-left: 152px;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    font-size: 9px;
    top: 4px;
    color: white;
  }

  .tooltip_newSigne {
    /*background-position: right 2px top 0;*/
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    left: 52px;
  }


  button[data-toggle="dropdown"].btn {
    line-height: 3rem;
    vertical-align: middle;
    font-weight: bold;
    width: 52rem;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
    font-weight: bold;
  }

  .open > .dropdown-menu {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 60%;
  }

  .open>.dropdown-menu {
    /*display: inline-table;*/
    width: 52rem;
  }

  /* End Voir les signes /sec/signs */

  /* Begin Mes Demandes /sec/my-requests */
  #reset_search_request{
    position: absolute;
    margin-top: -44px;
    right: 10%;
    background-color: #000000;
    border:none;
    color:#FFFFFF;
  }

  .text_hyphenation.navbar_title.pull-left{
    width: 46rem;
  }

  .text_hyphenation.navbar_title.pull-right{
    width: 51rem;
  }
  /* End Mes Demandes /sec/my-requests */

  /* Begin Fiche signe /sign */
  .add_favorite_signe_header {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }

  .label_sign_H2.container_H2{
    width: 52rem;
    margin-left: 0px;
  }

  h1, .h1 {
    font-size: 30px;
    font-weight: bold;
    color:#4866F7;
  }

  textarea#text {
    width: 100%;
    margin-bottom: 10px;
    background-color: #EBEBEB;
    border-style: none;
    border-radius: 0px;
    font-size: 14px;
    color: #4866F7;
  }

  textarea::-webkit-input-placeholder {
    color: #8C8C8C;
  }

  textarea.form-control{
    width:100% ;
    text-align: left;
  }

  textarea:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
  }

  /* End Fiche signe /sign */

  /* Begin Fenêtre modale enregistrez le signe id=add_video_file_recording modal-suggest */
  H4#label_record,
  H4#label_after_record {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4866F7;
  }

  .retry_recording {
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    margin-left: 292px;
    margin-right: 292px;
  }

  #container-button > button,
  #cancel-recording {
    border: none;
    background-color: transparent;
    color: #000000;
    padding: 0px;
    padding-right: 28px;
  }

  #container-button > button,
  #continue {
    border: none;
    background-color: transparent;
    color: #4866F7;
  }

  #continue, #cancel-recording {
    font-size: 14px;
    padding-right: 100px;
  }

  #retry-recording {
    margin-left: -30px;
    margin-right: 54px;
  }
  /* End Fenêtre modale enregistrez le signe id=add_video_file_recording modal-suggest */

  /* Begin Demandes de signes /sec/request */
  H2.text_hyphenation {
    width: 48rem;
  }
  /* End Demandes de signes /sec/request */

  /* Begin Mes Demandes /sec/other-request-detail */
  #my-other-requests {
    /*width: 23rem;*/
    text-align: right;
  }
  /* End Mes Demandes /sec/other-request-detail */

  /* Begin Fenêtre modale Demander un signe id=new_request modal-new-request */
  .add_request_white {
    background-size: auto 26px;
    height: 45px;
    width: 26px;
    margin-right: 20px;
  }

  /* Begin manage-favorite /sec/favorite/"id"/manage-favorite */
  .rename_favorite_blue{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }

  .delete_favorite_blue{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }

  /* End manage-favorite /sec/favorite/"id"/manage-favorite */

  /* Begin Fenêtre modale Renommer Liste id=rename_favorite */
  .rename_favorite_white{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }
  /* End Fenêtre modale Renommer Liste id=rename_favorite */

  /* Begin manage-favorite /sec/favorite/"id"/associate-sign */
  label .text_hyphenation {
    width:17rem;
    margin-left:3rem;
    white-space: nowrap;
  }
  /* End manage-favorite /sec/favorite/"id"/associate-sign */

  /* Begin Fenêtre modale Renommer Liste id=delete_favorite */
  .delete_favorite_white{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }
  /* End Fenêtre modale Renommer Liste id=delete_favorite */

  /* Begin Fiche détail de ma demande /sec/my-request-detail */
  .label_request_H2.container_H2 {
    width: 58rem;
    margin-left: 0px;
  }

  h4.container_H2{
    width: 46rem;
  }

    /* Begin Fiche détail de ma demande /sec/my-request-detail */

  h4.container_header_H2{
    width: 38rem;
  }

  .container_tooltip_in_image {
    height: 30px;
    width: 131px;
    border-radius: 15px;
    background-color: #4866F7;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    position: absolute;
    bottom: 36px;
    margin-left: 76px;
  }

  h4.rate.container_H2{
    width: 40rem;
  }

  /* Begin Fiche détail signe /sign/"sign_id""/"video_id"/detail */
  .history_label.noHover_nopointer > a >h2{
    font-size: 20px;
  }
  /* End Fiche détail signe /sign/"sign_id""/"video_id"/detail */

}