@media only screen and (min-width:321px) and (max-width:375px) {

  /* Begin login page /login */
  #label_dictionary {
    display: inline-block;
  }

  label {
    font-size: 11px;
  }

  /* End login page /login */

  /* Begin index page /index */
  .navbar-toggle {
    margin-top: 0px;
  }

  li[role="presentation_header"] {
    margin-right: 6px;
    margin-left: 20px;
  }

  .search_signe_header {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    margin-top: 2px;
  }

  .menu_detail {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    margin-right: -20px;
  }

  h2, .h2 {
    font-size: 16px;
    font-weight: bold;
  }

  .label_favorite_Liste_H2.container_H2{
    width:23rem;
  }

  /* End index page /index */

  /* Begin Menu */
  li[role="menu"] {
    margin-left: 14px;
  }

  /* End Menu */

  /* Begin Voir les signes /sec/signs */
  .navbar_title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    width: 23rem;
    text-align:right;
  }

  #myform input[type=search] {
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 10px;
    line-height: 40px;
    height: 40px;
    width: 29rem;
  }

  button[data-toggle="dropdown"].btn {
    line-height: 3rem;
    vertical-align: middle;
    font-weight: bold;
    width: 29rem;
  }

  .btn .caret {
    margin-top: 1rem;
  }

  .btn .most_recent.pull-left {
    background-position: -1230px center;
    background-size: auto 20px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 2px;
  }

  .btn .direction_down {
    background-position: -1370px center;
    background-repeat: no-repeat;
    background-size: auto 20px;
    height: 28px;
    width: 20px;
    margin-left: 5px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding-left: 1px;
    padding-top: 3px;
    white-space: nowrap;
    line-height: 46px;
    font-weight: bold;
  }

  #labelSigne.text_hyphenation {
    font-size: 14px;
    white-space: nowrap;
    max-width: 116px;
    text-align: center;
    padding-left: 33px;
  }

  #labelVideo.text_hyphenation {
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    padding-left: 33px;
  }

  .tooltip_newSigne {
    background-position: right 0px top 0;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    left: 20px;
  }

  .tooltip_comment {
    background-position: -458px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 11px;
  }

  .tooltip_eye {
    background-position: -502px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 64px;
  }

  .tooltip_positif {
    background-position: -486px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 38px;
  }

  .tooltip_positif_in_frame {
    background-position: -486px center;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    right: 30px;
    top: 1px;
  }

  .tooltip_favorite {
    background-position: right 0px top 0px;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    left: 33px;
  }

  .tooltip_favorite_in_frame {
    background-position: right 0px top 0px;
    background-size: auto 15px;
    height: 15px;
    width: 15px;
    left:-23px;
  }

  #myform input::placeholder{
    color:white;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  img{
    height: 140px;
    width: 140px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid;
    margin-bottom: 20px;
  }

  #reset{
    position: absolute;
    margin-top: 10px;
    right: 15%;
    background-color: #000000;
    border:none;
    color:#FFFFFF;
  }



  #labelSigne a{
    font-size:14px;
    white-space: nowrap;
  }

  /* End Voir les signes /sec/signs */

  /* Begin Demandes de signes /sec/request */
  H2.text_hyphenation{
    width: 23rem;
  }

  #requestTextDescription{
    width: 100%;
    text-align: left;
  }
  /* End Demandes de signes /sec/request */

  /* Begin Demandes de signes /sec/requests */
  /* End Demandes de signes /sec/requests */

  /* Begin Mes Demandes /sec/my-requests */
  #reset_search_request{
    position: absolute;
    margin-top: -44px;
    right: 10%;
    background-color: #000000;
    border:none;
    color:#FFFFFF;
  }

  #requests_container .aside_bckg_li h4{
    white-space: normal;
    width: 26rem;
  }

  .text_hyphenation.navbar_title.pull-left{
    width: 20rem;
  }

  .text_hyphenation.navbar_title.pull-right{
    width: 23rem;
  }

  /* End Mes Demandes /sec/my-requests */

  /* Begin Mes Demandes /sec/other-request-detail */
  #my-other-requests{
    width: 26rem;
    text-align: right;
  }
  /* Begin Mes Demandes /sec/other-request-detail */

  /* Begin Fenêtre modale Nouveau signe id=new-suggest modal-new-suggest*/
  /* End Fenêtre modale Nouveau signe id=new-suggest modal-new-suggest*/

  /* Begin Nouveau signe /sec/signs-suggest */
  /* End Nouveau signe /sec/signs-suggest */

  /* Begin Fenêtre modale Ajouter un signe id=suggest modal-suggest */
  /* End Fenêtre modale Ajouter un signe id=suggest modal-suggest */

  /* Begin Fenêtre modale enregistrez le signe id=add_video_file_recording modal-suggest */
  H4#label_record,
  H4#label_after_record {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4866F7;
  }

  #container-button > button,
  #cancel-recording {
    border: none;
    background-color: transparent;
    color: #000000;
    padding: 0px;
    padding-right: 28px;
  }

  #container_video {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #counter {
    right: 40%;
    top: 32%;
  }

  .retry_recording {
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    margin-left: 160px;
    margin-right: 82px;
  }

  #container-button > button,
  #continue {
    border: none;
    background-color: transparent;
    color: #4866F7;
  }

  #continue, #cancel-recording {
    font-size: 14px;
  }

  /* End Fenêtre modale enregistrez le signe id=add_video_file_recording modal-suggest */

  /* Begin Fenêtre modale sélectionner un fichier id=uploadRecordedVideoFile modal-suggest */
  /* End Fenêtre modale sélectionner un fichier id=uploadRecordedVideoFile modal-suggest */

  /* Begin Fenêtre modale Demander un signe id=new_request modal-new-request */
  .add_request_white {
    background-size: auto 26px;
    height: 45px;
    width: 26px;
    margin-right: 20px;
  }

  /* End Fenêtre modale Demander un signe id=new_request modal-new-request */

  /* Begin Fiche signe /sign */
  ul.hidden-sm > li[role="presentation"] {
    /* margin-right: 15px;*/
    width: 2rem;
    height: 2rem;
  }

  li[role="presentation"] {
    margin-right: 42px;
    margin-left: 20px;
  }

  .add_favorite_signe_header {
    background-size: auto 50px;
    height: 50px;
    width: 50px;
  }

  .label_sign_H2.container_H2{
    width: 26rem;
    margin-left: 0px;
  }

  h1, .h1 {
    font-size: 20px;
    font-weight: bold;
    color:#4866F7;
  }

  textarea#text {
    width: 100%;
    margin-bottom: 10px;
    background-color: #EBEBEB;
    border-style: none;
    border-radius: 0px;
    font-size: 14px;
    color: #4866F7;
  }

  textarea::-webkit-input-placeholder {
    color: #8C8C8C;
  }

  textarea.form-control{
    width:100% ;
  }

  textarea:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
  }

  /* End Fiche signe /sign */

  /* Begin Fiche détail signe /sign/"sign_id""/"video_id"/detail */
  .table-responsive{
    font-size: 1.2rem;
  }

  .history_label.noHover_nopointer > a >h2{
    font-size: 16px;
  }
  /* End Fiche détail signe /sign/"sign_id""/"video_id"/detail */

  /* Begin Fenêtre modale Ajouter une Variante id=new-video modal-new-video */
  /* End Fenêtre modale Ajouter une Variante id=new-video modal-new-video */


  /* Begin Fenêtre modale Ajouter un commentaire id=comment_modal modal-new-comment-sign */
  /* End Fenêtre modale Ajouter un commentaire id=comment_modal modal-new-comment-sign */

  /* Begin Fenêtre modale Evaluer id=evaluation_modal modal-rate-sign */
  /* End Fenêtre modale Evaluer id=evaluation_modal modal-rate-sign */

  /* Begin Fenêtre modale Confirmation Evaluation id=after-rate-sign modal-rate-sign */
  /* End Fenêtre modale Confirmation Evaluation id=after-rate-sign modal-rate-sign */

  /* Begin manage-favorite /sec/favorite/"id"/manage-favorite */
  .rename_favorite_blue{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }

  .delete_favorite_blue{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }

  /* End manage-favorite /sec/favorite/"id"/manage-favorite */

  /* Begin Fenêtre modale Renommer Liste id=rename_favorite */
  .rename_favorite_white{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }
  /* End Fenêtre modale Renommer Liste id=rename_favorite */

  /* Begin manage-favorite /sec/favorite/"id"/associate-sign */
  label .text_hyphenation {
    width:13rem;
    padding-left: 0rem;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
  }
  /* End manage-favorite /sec/favorite/"id"/associate-sign */

  /* Begin Fenêtre modale Renommer Liste id=delete_favorite */
  .delete_favorite_white{
    background-size: auto 24px;
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }
  /* End Fenêtre modale Renommer Liste id=delete_favorite */

  /* Begin Fiche détail de ma demande /sec/my-request-detail */
  .label_request_H2.container_H2{
    width: 28rem;
    margin-left: 0px;
  }

  h4.container_H2{
      width: 23rem;
  }
  /* Begin Fiche détail de ma demande /sec/my-request-detail */

  h4.container_header_H2{
    width: 20rem;
  }

  h4.rate.container_H2{
    width: 16rem;
  }




}
