@media only screen and (min-width:321px) and (max-width:375px) {


  ul.hidden-sm > li[role="presentation"] {
    /* margin-right: 15px;*/
    width: 2rem;
    height: 2rem;
  }

  ul.hidden-sm > li[role="tab"] {
    /* margin-right: 15px;*/
    width: 2rem;
    height: 2rem;
  }

  li[role="presentation"] {
    margin-right: 42px;
    margin-left: 20px;
  }


}

