/* Begin login page /login */
body{
  font-family: "Accessible-DfA";
  font-size: 16px;
  font-weight: bold;
}

#main_nav{
  background-color: #4866F7;
  border-style:none;
}

.navbar * {
  font-weight: bold;
}

.container-fluid{
  padding-right: 8px;
  padding-left: 8px;
}

.row{
  margin-right: -8px;
  margin-left: -8px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0px;
}

a {
  color: #333333;
}

.logo-text_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -1739px center;
  background-size: auto 40px;
  width: 100px;
  height: 70px;
  margin-left: 10px;
}

.illustration_welcome {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -4070px center;
  background-repeat: no-repeat;
  background-size: auto 100px;
  height: 100px;
  width: 100px;
}

#label_invite {
  margin-top: 25px;
}

#label_welcome {
  color:#4866F7;
}

.login-form{
  margin-top: 40px;
}

span.form-signin-heading{
  font-size: 16px;
  font-weight: bold;
}

.form-group {
  font-size: 20px;
  margin: 15px 0px;
}

label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-weight: normal;
}

input[type="text"],[type="email"],[type="password"] {
  margin:0 auto;
  height: 42px;
  line-height: 42px;
}

.form-control {
  color:#4866F7;
  height:42px;
}

.btn_signin{
  border-radius: 30px;
  background-color: #000000;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  color:#FFFFFF;
  width: 50%;
  margin-top:20px;
  padding: 12px 12px;
  margin-bottom:20px;
}

.noAccount.aside_bckg_li{
  border-bottom: 1px solid;
  width: 90%;
  margin: 0 auto;
}

.lostPassword.aside_bckg_li{
  border-top: 1px solid;
  width: 90%;
  margin: 0 auto;
}

/* End login page /login */

/* Begin index page /index */


#display_url{
  top: 30px
}

ul[role="tablist"]{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-toggle-complement {
  float: right;
  position: relative;
}

.nav > li {
  position: relative;
}

.navbar-toggle-complement li {
  float: left;
}

.nav.navbar-nav a {
  padding-left: 0;
}

.nav > li > a {
  cursor: pointer;
}

.navbar-nav > li > a {
  font-size: 20px;
}

.nav > li > a {
  display: inline;
  padding: 0px;

}

.lexical {
  font-size:20px;
  text-align: center;
  color: #4866F7;
  margin-bottom: 30px;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 25px;
}

h2, .h2 {
  font-size: 16px;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Accessible-DfA";
  font-weight: bold;
  line-height: 29px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.aside_bckg_li {
  border-bottom: 1px solid #8C8C8C;
  text-align: left;
  overflow: hidden;
}

.aside_bckg_li.action {
  border-bottom: 3px solid #8C8C8C;
  text-align: left;
  overflow: hidden;
}

.aside_bckg_li > a > div {
  padding: 0em;
  border-style:none;
}

.sign_see {
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -3866px center;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  margin-top: 4px;
}

.container_H2{
  float: left;
  margin-left: 15px;
}

.container_CGU{
  float: left;
  margin-left: 15px;
}

.container_H2_blue{
  float: left;
  margin-left: 15px;
  color: #4866F7;
}

.blue {
  color: #4866F7;
}

.text_hyphenation{
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
}

.chevron{
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -3257px center;
  background-size: auto 28px;
  height: 28px;
  width: 28px;
  margin-top: 10px;
}

.sign_ask-for_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -3740px center;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  margin-top: 4px;
}

.sign_add {
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -3656px center;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  margin-top: 4px;
}

.search_circle {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -4094px center;
  background-repeat: no-repeat;
  background-size: auto 50px;
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

.menu {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2924px center;
  background-repeat: no-repeat;
  background-size: auto 50px;
  height: 50px;
  width: 50px;
  margin-right: -20px;
}

/* End index page /index */

/* Begin Menu */


.member_me_black{
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -1311px center;
  background-size: auto 25px;
  height: 45px;
  width: 25px;
}

h4, .h4 {
  font-size: 14px;
  -ms-overflow-style: none;
  overflow-scrolling: none;
 /* overflow: hidden;*/
  position: relative;
  font-weight: bold;
}

.group_black{
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -719px center;
  background-size: auto 25px;
  height: 42px;
  width: 25px;
}

.pinlist_black{
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -1760px center;
  background-size: auto 25px;
  height: 40px;
  width: 25px;
}

.settings_black{
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: -2130px center;
  background-size: auto 25px;
  height: 44px;
  width: 25px;
}

.about{
  background-image: url("/img/sprite_picto_400X400.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: auto 25px;
  height: 44px;
  width: 25px;
}

/* End Menu */

/* Begin Voir les signes /sec/signs */

.col-xs-12.middle-col{
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  width: 23rem;
  text-align:right;
  color: white;
}

#myform input::placeholder{
  color:white;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.labelSigne a{
    font-size:14px;
    white-space: nowrap;
}

.labelSigne {
  font-size: 14px;
  white-space: nowrap;
  max-width: 116px;
  text-align: center;
  padding-left: 33px;
}

.logo-SW_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2124px center;
  background-repeat: no-repeat;
  background-size: auto 50px;
  height: 70px;
  width: 50px;
}

.back_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -106px center;
  background-repeat: no-repeat;
  background-size: auto 29px;
  height: 70px;
  width: 43px;
  cursor:pointer;
}

#myform input[type=search]{
  padding-left: 25px;
  margin-bottom: 10px;
  line-height: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #000000;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
  color:white;
}

input[type=search].form-control,input[type=search].form-control:focus{
  border: none;
  box-shadow: none;
  border-radius: 0px;
}


.down_black{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2224px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 28px;
  width: 20px;
}

.up_black{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2264px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 28px;
  width: 20px;
}

.dropdown-menu li {
  border-bottom-color: #989898;
  border-bottom-style: solid;
  border-bottom-width: medium;
  line-height: 46px;
}

.dropdown-menu > li {
  clear: both;
}

.all-signs_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2494px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
}

.sort_alpha_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2118px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
}

.dropdown-menu > li > a.v-done-down_black{
  background-color: #989898;
  color: #4866F7;
}

.v-done-down_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2204px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 48px;
  width: 40px;
}

.v-done-up_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2244px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 48px;
  width: 40px;
}

.pinlist_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1500px center;
  background-repeat: no-repeat;
  background-size: auto 21px;
  height: 48px;
  width: 17px;
  margin-right: 9px;

}

.btn .pinlist_blue.pull-left {
  background-position: -1785px center;
  background-size: auto 25px;
  height: 30px;
  width: 20px;
}

.pinlist_shared {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1790px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 27px;
  width: 24px;
  margin-top: 9px;
}

.pinlist_shared_new {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1815px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 48px;
  width: 24px;
}

.pinlist_add_white{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2077px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}

.pinlist_add{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1635px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 48px;
  width: 24px;
}

#signs-container{
  margin-top: 15px;
}

#videos-container{
  margin-top: 15px;
}

#sign_available {
  color: #4866F7;
}

#sign_not_available {
  margin-top: 30px;
  color: #4866F7;
}

.new_blue-signs {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -926px center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: auto 15px;
  height: 15px;
  width: 15px;
  left: 20px;
}

.new_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1235px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 44px;
  width: 20px;
  margin-right: 5px;
}

.commentary_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -190px center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 7px;
  background-size: auto 15px;
  height: 15px;
  width: 15px;
  right: 11px;
}

.sign_see_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1466px center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 7px;
  background-size: auto 15px;
  height: 15px;
  width: 15px;
  right: 64px;
}

.smiley_happy_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1557px center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 7px;
  background-size: auto 15px;
  height: 15px;
  width: 15px;
  right: 38px;
}

.smiley_happy_white_in_frame {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1558px center;
  background-repeat: no-repeat;
  position: absolute;
}

.pin_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -991px center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: auto 15px;
  height: 15px;
  width: 15px;
  left: 33px;
}

.pin_blue_in_frame {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -991px center;
  background-repeat: no-repeat;
  position: absolute;
}

.tooltip_variante {
  background-color: blue;
  margin-left: 93px;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  font-size: 9px;
  top: 4px;
  color:white;
}

.sign-view-hidden {
  display: none;
}

.video-view-hidden {
  display: none;
}

.search-hidden {
  display: none;
}

.open > .dropdown-menu {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width:27rem;
}

.open>.dropdown-menu {
  /*display: inline-table;*/
  width: 33rem;
}

.menu_down_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2521px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 26px;
  width: 9px;
}

#reset{
  background-image: url(/img/sprite_picto_400X400.png);
  background-position: -2310px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 26px;
  width: 14px;
  position: absolute;
  margin-top: 6px;
  right: 15%;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  visibility: hidden;
}

.btn .new_blue.pull-left {
  background-position: -1235px center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-top: 3px;
}

.btn .down_black {
  background-position: -2224px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 28px;
  width: 20px;
}

button[data-toggle="dropdown"].btn {
  line-height: 3rem;
  vertical-align: middle;
  font-weight: bold;
  width: 33rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.dropdown-menu > li > a {
  display: block;
  padding-left: 1px;
  padding-top: 3px;
  white-space: nowrap;
  line-height: 46px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
}

.btn .all-signs_blue.pull-left {
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-top: 3px;
}

.btn .sort_alpha_blue.pull-left {
  margin-left: 5px;
  margin-top: 3px;
}

.btn .smiley_happy_blue.pull-left {
  background-position: -2013px center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  margin-top: 3px;
}

.btn .pinlist_shared_new.pull-left {
  background-position: -1815px center;
  background-size: auto 24px;
  height: 30px;
  width: 30px;
  margin-left: 5px;
}

.btn .pinlist_shared.pull-left {
  margin-left: 5px;
  margin-top: 0px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid;
  margin-bottom: 20px;
}

.btn .up_black {
  background-position: -2264px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 28px;
  width: 20px;
  margin-left: 5px;
}

/* End Voir les signes /sec/signs */

/* Begin Demandes de signes /sec/requests */

.member_ask_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1411px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 40px;
  width: 30px;
}

.group_ask_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3558px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
}

.sign_ask-for_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2838px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 48px;
  width: 30px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

/* End Demandes de signes /sec/requests */

/* Begin Mes Demandes /sec/my-requests */
#reset_search_request{
  background-image: url(/img/sprite_picto_400X400.png);
  background-position: -2310px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 26px;
  width: 14px;
  position: absolute;
  margin-top: -43px;
  right: 10%;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  visibility: hidden;
}

#requests_container{
  padding-top:15px;
}

/* End Mes Demandes /sec/my-requests */

/* Begin Demandes de signes /sec/other-request-detail */
#requestTextDescription{
  margin:0 auto;
}
/* End Demandes de signes /sec/other-request-detail */


/* Begin Fenêtre modale Demander un signe id=new_request modal-new-request */
.sign_ask-for_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2486px center;
  background-repeat: no-repeat;
  background-size: auto 26px;
  height: 45px;
  width: 26px;
  margin-right: 20px;
}

/* Begin Fenêtre modale Nouveau signe id=new-suggest modal-new-suggest*/

button.close{
 /* color:#FFFFFF;
  opacity:1;
  padding-top: 15px;*/
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3464px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 51px;
  width: 30px;
  opacity: 1;
}

.sign_add_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2773px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 47px;
  width: 30px;
  margin-right: 20px;
}

.modal-header {
  background-color: #4866F7;
  color: #FFFFFF;
}

.modal-body{
  padding: 10px;
}

.modal-body>.form-control {
  background-color: #EBEBEB;
  border-style:none;
  border-radius:0px;
}

.modal-footer {
  border-style:none;
}

.modal-footer>.btn{
  color: #4866F7;
  font-size: 14px;
  border-style:none;
  font-weight: bold;
}

.modal-footer>.btn.btn-secondary{
  background-color: #fff;
  color: black;
}

/* End Fenêtre modale Nouveau signe id=new-suggest modal-new-suggest */

/* Begin Nouveau signe /sec/signs-suggest */

.edit_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -571px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top:10px;
}

.pin_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1560px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}


.description_movie_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -398px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.definition_text_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -468px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.description_text_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -616px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 46px;
  width: 30px;
  margin-right: 20px;
}

.description_movie_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -529px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 46px;
  width: 28px;
  margin-right: 20px;
}

.add_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -32px center;
  background-repeat: no-repeat;
  background-size: auto 31px;
  height: 31px;
  width: 24px;
  margin-top: 9px;
  margin-right: 5px;
}

.same_name{
  color: #4866F7;
  margin-top: 20px;
}

.already_exits{
  text-align: center;
  color: #FF5F58;
}

/* End Nouveau signe /sec/signs-suggest */

/* Begin Fenêtre modale Ajouter un signe id=suggest modal-suggest */

.camera_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -116px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}

.folder_blue{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -666px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}

/* End Fenêtre modale Ajouter un signe id=suggest modal-suggest */

/* Begin Fenêtre modale enregistrez le signe id=add_video_file_recording modal-suggest */

.record {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -4631px center;
  background-repeat: no-repeat;
  background-size: auto 58px;
  height: 58px;
  width: 58px;
  border: none;
  background-color: transparent;
}

.btn-group-vertical{
  padding-top: 10px;
}

.stop {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -7503px center;
  background-repeat: no-repeat;
  background-size: auto 70px;
  height: 35px;
  width: 60px;
  border: none;
  background-color: transparent;
}

.spinner_hidden{
  visibility: hidden;
}

.spinner_show{
  visibility: visible;
  width: 100%;
  height: 100%;
  background-image: url("/img/spinner-blue.gif");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  position: absolute;
}

#counter {
  color: white;
  font-size: 33px;
  opacity: 0.5;
  position: absolute;
  right: 41%;
  top: 32%;
  z-index: 3;
  background-color: black;
  height: 47px;
  margin-left: 6px;
  position: absolute;
  width: 47px;
  border-radius: 47px;
  text-align: center;
}

#retry-recording{
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #000000;
}


#container-button >button,
#continue {
  line-height:20px;
}

video{
  width: 100%;
}

.rewind_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1942px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  border: none;
  background-color: transparent;
  margin-left: 148px;
  margin-right: 148px;
}

H4#label_record,
H4#label_after_record,
H4#label_record_job_description,
H4#label_after_record_job_description {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #4866F7;
}

#continue, #cancel-recording {
  font-size: 14px;
}

#container-button > button,
#cancel-recording {
  border: none;
  background-color: transparent;
  color: #000000;
  padding: 0px;
  /*padding-right: 28px;*/
}

#container-button > button,
#continue {
  border: none;
  background-color: transparent;
  color: #4866F7;
}

/* End Fenêtre modale enregistrez le signe id=add_video_file_recording modal-suggest */

/* Begin Fenêtre modale sélectionner un fichier id=uploadRecordedVideoFile modal-suggest */

input[type=file] {
  font-size: 14px;
  display: inline-block;
}

/* End Fenêtre modale sélectionner un fichier id=uploadRecordedVideoFile modal-suggest */

/* Begin Fenêtre modale Demander un signe id=new_request modal-new-request */
/* End Fenêtre modale Demander un signe id=new_request modal-new-request */

/* Begin Fiche signe /sign */
.smiley_happy_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2015px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 46px;
  width: 20px;
}

.modal-body .smiley_happy_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2416px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}

.smiley_unhappy_blue, .modal-body .containerRight_signes .smiley_unhappy_blue{
  background-image: url("/img/sprite_picto_400X400.png");
  background-color: Transparent;
  border: none;
  background-position: -2514px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 46px;
  width: 24px;
}

.smiley_happy_menu_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2442px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.variant_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2599px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.commentary_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -280px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.comment_name{
  margin-bottom: 0px;
}

.comment_date{
  margin-top: 0px;
}

.comment_date, .comment_text{
  font-weight: normal;
}

.hyphenation_table{
  /* For Firefox */
  white-space: pre-wrap;
  word-break: break-all;
  min-width: 5em !important;
  /* For Chrome and IE */
  word-break: break-word;
}

#tooltipInframe{
  position: absolute;
  right: 15px;
  z-index: 4;
}

.pin_add_white-header {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3196px center;
  background-repeat: no-repeat;
}

/* End Fiche signe /sign */

/* Begin Fiche détail signe /sign/"sign_id""/"video_id"/detail */

.col-md-4.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

#definition{
  margin-left: 15px;
}

.history_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2967px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.description_sign {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -443px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.rewind_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2916px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

.rewind_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3188px center;
  background-repeat: no-repeat;
  background-size: auto 26px;
  height: 45px;
  width: 26px;
  margin-right: 20px;
}

.x-close_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2894px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

/* End Fiche détail signe /sign/"sign_id""/"video_id"/detail */

/* Begin Fenêtre modale Ajouter une Variante id=new-video modal-new-video */
.variant_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3109px center;
  background-repeat: no-repeat;
  background-size: auto 26px;
  height: 45px;
  width: 26px;
  margin-right: 20px;
}

/* End Fenêtre modale Ajouter une Variante id=new-video modal-new-video */

/* Begin Fenêtre modale Ajouter un commentaire id=comment_modal modal-new-comment-sign */
.commentary_white-modal_header {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -382px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}

/* End Fenêtre modale Ajouter un commentaire id=comment_modal modal-new-comment-sign */

/* Begin Fenêtre modale Evaluer id=evaluation_modal modal-rate-sign */
.smiley_happy_menu_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3084px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}

/* End Fenêtre modale Evaluer id=evaluation_modal modal-rate-sign */

/* Begin Fenêtre modale Confirmation Evaluation id=after-rate-sign modal-rate-sign */
.smiley_happy_blue_after_rate {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3625px center;
  background-repeat: no-repeat;
  background-size: auto 36px;
  height: 46px;
  width: 36px;
  margin-left: 100px;
}

.smiley_unhappy_blue_after_rate{
  background-image: url("/img/sprite_picto_400X400.png");
  background-color: Transparent;
  border: none;
  background-position: -3774px center;
  background-repeat: no-repeat;
  background-size: auto 36px;
  height: 46px;
  width: 36px;
  margin-left:69px;
}

/* End Fenêtre modale Confirmation Evaluation id=after-rate-sign modal-rate-sign */

/* Begin manage-favorite /sec/favorite/"id"/manage-favorite */
.edit_blue{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -592px center;
  background-repeat: no-repeat;
}

.copy_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -351px center;
  background-repeat: no-repeat;
}

.pinlist_delete{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1733px center;
  background-repeat: no-repeat;
}

/* End manage-favorite /sec/favorite/"id" */

/* Begin Fenêtre modale Renommer Liste id=rename_favorite */

/* End Fenêtre modale Renommer Liste id=rename_favorite */

/* Begin Fenêtre modale Renommer Liste id=duplicate_favorite */
.copy_white{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -470px center;
  background-repeat: no-repeat;
}
/* End Fenêtre modale Renommer Liste id=duplicate_favorite */


/* Begin Fenêtre modale Renommer Liste id=delete_favorite */
.pinlist_delete_white{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2202px center;
  background-repeat: no-repeat;
}
/* End Fenêtre modale Renommer Liste id=delete_favorite */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.footer>.btn-default {
  color: #4866F7;
  font-size: 14px;
  border-style: none;
  font-weight: bold;
  line-height: 16px;
  width: 49%;
  height: 40px;
  background-color: #EBEBEB;
  text-align: center;
}

.footer>.btn-secondary {
  color: #8C8C8C;
  font-size: 14px;
  border-style: none;
  font-weight: bold;
  line-height: 16px;
  width: 49%;
  height: 40px;
  background-color: #EBEBEB;
  text-align: center;
}


/* Begin Fiche détail de ma demande /sec/my-request-detail */

#date-request {
  text-align: right;
  border: none;
}

.prio_blue_whitebackground {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2363px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}

.x-close_blue_whitecircle {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3430px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 31px;
  margin-right: 20px;
}

.prio_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1865px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 45px;
  width: 24px;
}

/* End Fiche détail de ma demande /sec/my-request-detail */

/* Begin Fiche détail autre demande /sec/other-request-detail */

.grey-color {
  color: grey;
}

/* End Fiche détail autre demande /sec/other-request-detail */

.v-done_blue {
  background-image: url(/img/sprite_picto_400X400.png);
  background-position: -2186px center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
}

.container_tooltip_in_image {
  height: 30px;
  width: 52%;
  border-radius: 15px;
  background-color: #4866F7;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  position: absolute;
  bottom: 27px;
  margin-left: 17%;
}

#communities-container>label>h4 {
  border-bottom: 1px solid #8C8C8C;
}

#users-container>label>h4 {
  border-bottom: 1px solid #8C8C8C;
}

/* Begin favorite /sec/favorite/"id" */
.settings2_blue{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2068px center;
  background-repeat: no-repeat;
}

.share_blue{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2121px center;
  background-repeat: no-repeat;
}

.add-remove{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -44px center;
  background-repeat: no-repeat;
}

/* End favorite /sec/favorite/"id" */

/* Begin favorite /sec/favorite/share/"id" */
.group_project_add{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -818px center;
  background-repeat: no-repeat;
}

.group_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -715px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.see_group_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -715px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  /*margin-right: 16px;*/
  margin-top:10px;
}

.group_member_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -794px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 25px;
  margin-right: 16px;
}

.see_group_member_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -794px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 25px;
  /*margin-right: 16px;*/
  margin-top:10px;
}

.group_project_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -872px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-right:16px;
}

.see_group_project_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -872px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  /*margin-right:16px;*/
  margin-top:10px;
}

.group_project_me_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -898px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 25px;
  margin-right:16px;
}

.see_group_project_me_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -898px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 25px;
  /*margin-right:16px;*/
  margin-top:10px;
}

.group_project_add_white{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1057px center;
  background-repeat: no-repeat;
}
/* End favorite /sec/favorite/share/"id" */

/* Begin communities-suggest /sec/communities-suggest */
.member_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1153px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.member_blue-communities-suggest {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1153px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 10px;
}
/* Begin communities-suggest /sec/communities-suggest */


.member_add_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1104px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 10px;
}

.subtitle {
  text-align: center;
  color: #4866F7;
  font-size:18px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#cancel-modal {
  background-color: #fff;
  color: black;
}

.edit_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -771px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}

.signlanguage_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2996px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 47px;
  width: 25px;
  margin-right: 20px;
}

.signlanguage_black {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2866px center;
  background-repeat: no-repeat;
  background-size: auto 29px;
  height: 28px;
  width: 29px;
  margin-top:10px;
}

.cgu_button {
  margin-top: 35px;
}

.cgu_button>.btn{
  color: #4866F7;
  font-size: 14px;
  border-style:none;
  font-weight: bold;
}

.cgu_button>.btn-secondary{
  background-color: #fff;
  color: black;
}

.lock_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1248px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}


.see_password {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3317px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.not_see_password {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3361px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#password, #confirm-password {
  width: 85%;
  display: inline-block;
}

.create-user{
  margin-top: 20px;
}

.errorRegexLastName, .errorRegexFirstName, .errorRegexEmail, #errorForgetPassword, #errorCreateUser, #errorUserExist {
  font-size: 14px;
  color: red;
}

.form-signin-heading {
  color: #4866F7;
}

#read_condition_of_use .modal-dialog,
#read_condition_of_use .modal-content {
  height: 80%;
}

#read_condition_of_use .modal-dialog .modal-content .modal-body {
  max-height: calc(100% - 160px);
  overflow-y:scroll;
}

#cgu_disagree_body {
  font-size: 16px;
  padding-left: 40px;
  color: #4866F7;
}

pre {
  margin-top: 10px;
}

.cgu_conditions_white_no {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -318px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}


.record-profil {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1916px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  border: none;
  background-color: transparent;
}



.edit_white_circle {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1068px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  margin-top: 17px;
}

.message_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1820px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}

.subtitle_job {
  color: #4866F7;
  font-size:18px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.job_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3524px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}


.margin-for-footer {
  margin-bottom: 30px;
}

#profil li:last-child {
  border-bottom: 3px solid #4866F7;
}

.descriptions_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -518px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 48px;
  width: 24px;
}

.descriptions_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -589px center;
  background-repeat: no-repeat;
  background-size: auto 26px;
  height: 45px;
  width: 26px;
  margin-right: 20px;
}

.cgu_conditions_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -288px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 10px;
}



.share_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -2531px center;
  background-repeat: no-repeat;
  background-size: auto 28px;
  height: 45px;
  width: 28px;
  margin-right: 20px;
}


.member_choose_blue{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1179px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 11px;
}

.member_choose_white{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1507px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 44px;
  width: 31px;
  margin-right: 20px;
}

.group_delete_blue{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -740px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 11px;
}

.group_delete_white{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -960px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 44px;
  width: 30px;
  margin-right: 12px;
}


.member_project_empty-white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1354px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 10px;
}


.add-remove_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -81px center;
  background-repeat: no-repeat;
  background-size: auto 28px;
  height: 45px;
  width: 28px;
  margin-right: 20px;
}


.pin_add_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1918px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 45px;
  width: 30px;
  margin-right: 20px;
}

.member_project_admin {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1307px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 10px;
}

.member_project_admin_me {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1331px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 10px;
}

.member_me {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -1233px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  margin-top: 10px;
}

.about_title {
  text-align: center;
  color: #4866F7;
  font-size:18px;
}


.cgu_conditions_blue_about {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -272px center;
  background-repeat: no-repeat;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

.chevron_about_see_cgu{
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -3257px center;
  background-repeat: no-repeat;
  background-size: auto 28px;
  height: 28px;
  width: 28px;
  margin-top: 25px;
}

.contact {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -410px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left:5px;
}

.cgu_conditions_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -219px center;
  background-repeat: no-repeat;
  background-size: auto 32px;
  height: 40px;
  width: 30px;
  margin-top: 4px;
}

.cgu_conditions_lsf_blue {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -248px center;
  background-repeat: no-repeat;
  background-size: auto 32px;
  height: 40px;
  width: 30px;
  margin-top: 4px;
}

.cgu_conditions_lsf_white {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -260px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.edit_black-profil {
  background-image: url("/img/sprite_picto_400X400.png");
  background-position: -571px center;
  background-repeat: no-repeat;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
}