#prefetch {
  background:  url("/img/done_adis.png"), url("/img/sprite_picto_400X400_ADIS.png"), url("/img/sprite_picto_400X400_logo_ADIS.png"), url("/img/sprite_pictoAdmin_400X400_ADIS.png") no-repeat;
}

#main_nav{
  background-color: #662a74;
  border-style:none;
}


#label_welcome {
  color:#662a74;
}


.form-control {
  color:#662a74;
  height:42px;
}


.form-signin-heading {
  color: #662a74;
}

.col-xs-12 h5:hover{
  color: #662a74;
}


a:hover,
a:focus,
a:active{
  color: #662a74;
  outline: 0;
}


.modal-header {
  background-color: #662a74;
  color: #FFFFFF;
}


.modal-footer>.btn{
  color: #662a74;
  font-size: 14px;
  border-style:none;
  font-weight: bold;
}


h1, .h1 {
  font-size: 20px;
  font-weight: bold;
  color:#662a74;
}


.footer>.btn-default {
  color: #662a74;
  font-size: 14px;
  border-style: none;
  font-weight: bold;
  line-height: 16px;
  width: 49%;
  height: 40px;
  background-color: #EBEBEB;
  text-align: center;
}


.lexical {
  font-size:20px;
  text-align: center;
  color: #662a74;
  margin-bottom: 30px;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 25px;
}

.lexical_signsatform {
  font-size:20px;
  text-align: center;
  color: #662a74;
  margin-bottom: 30px;
  margin-top: 25px;
}


.dropdown-menu > li > a.v-done-down_black{
  background-color: #989898;
  color: #662a74;
}

#sign_available,
#video_available {
  color: #662a74;
}

#sign_not_available {
  margin-top: 30px;
  color: #662a74;
  white-space: pre-line;
}


H4#label_record,
H4#label_after_record,
H4#label_record_job_description,
H4#label_after_record_job_description {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #662a74;
}

#container-button > button,
#continue {
  border: none;
  background-color: transparent;
  color: #662a74;
}

.same_name{
  color: #662a74;
  margin-top: 20px;
}


#InputFileLabel {
  margin-top: 20px;
  color: #662a74;
  font-size: 14px;
  border-style: none;
  font-weight: bold;
}

textarea#text {
  width: 100%;
  margin-bottom: 10px;
  background-color: #EBEBEB;
  border-style: none;
  border-radius: 0px;
  font-size: 14px;
  color: #662a74;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #662a74;
  background-color: transparent;
}


.blue {
  color: #662a74;
}


.subtitle_job {
  color: #662a74;
  font-size:18px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.subtitle {
  text-align: center;
  color: #662a74;
  font-size:18px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.about_title {
  text-align: center;
  color: #662a74;
  font-size:18px;
}


.container_H2_blue{
  float: left;
  margin-left: 15px;
  color: #662a74;
}


a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active{
  color: #18c6bf;
  outline: 0;
}

.nav > li.disabled > a,
li.disabled > a {
  color : #18c6bf;
}

p > a {
  color: #662a74;
}

h4.blue-cgu {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 25px;
  color: #662a74;
}

.tooltip_variante {
  background-color: #662a74;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  font-size: 9px;
  color:white;
  right: 19px;
  position:absolute;
  top:40px;
}

#jobName {
  display: inline;
  margin-left: 20px;
  color: #662a74;
}

.job_description_text {
  display: inline-block;
  color: #662a74;
  width: 90%;"
}

.user_entity {
  display: inline;
  margin-left: 20px;
  color: #662a74;
}

.user_name {
  display: inline;
  margin-left: 34px;
  color: #662a74;
}

.user_email {
  display: inline;
  margin-left: 25px;
  color: #662a74;
}

.double_border_top {
  border-top: 3px solid #662a74;
}

#validate_modal_add_favorite {
  color: #662a74;
}

.charte_color {
  color: #662a74;
}

.member_blue-communities-suggest {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.illustration_welcome_signsatwork {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.logo_signsatwork_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.new_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.all-signs_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.sort_alpha_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.smiley_happy_blue-sign {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.new_blue-signs {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.sign_ask-for_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_ask_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_ask_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.v-done2_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.camera_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.folder_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_add {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.settings2_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.share_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.add-remove {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pin_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.edit_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.copy_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_delete {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_project_add {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.see_group_project_me_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.see_group_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_project_add_white {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.description_sign {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_project_empty-white {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_project_admin_me {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_choose_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_delete_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.definition_text_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.description_movie_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.variant_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.commentary_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.rewind_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.x-close_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.history_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.see_group_member_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_me {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_project_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.cgu_conditions_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.contact {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.cgu_conditions_lsf_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_shared_new {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.smiley_happy_menu_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.modal-body .smiley_happy_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png")
}

.smiley_unhappy_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.smiley_happy_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.smiley_happy_blue_after_rate {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.smiley_unhappy_blue_after_rate {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pin_blue_in_frame {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.logo_signsatwork_white {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.about {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.search_black_desktop {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_me_black {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_black {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_black {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.x-close_black {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.message_black_desktop {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_add_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_blue_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_add_blue_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_project_add_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_delete_blue_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png")
}

.description_sign_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_shared_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_choose_blue_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.edit_blue_admin {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_shared_filter {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.sign_ask-for_blue_filter {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.member_add_blue_circle {
  background-image: url("/img/sprite_pictoAdmin_400X400_ADIS.png");
}

.member_blue_circle {
  background-image: url("/img/sprite_pictoAdmin_400X400_ADIS.png");
}

.group_project_blue_circle {
  background-image: url("/img/sprite_pictoAdmin_400X400_ADIS.png");
}

.member_blue_circle_filter {
  background-image: url("/img/sprite_pictoAdmin_400X400_ADIS.png");
}

.member_add_blue_circle_filter {
  background-image: url("/img/sprite_pictoAdmin_400X400_ADIS.png");
}

.group_project_blue_circle_filter {
  background-image: url("/img/sprite_pictoAdmin_400X400_ADIS.png");
}

.Cefe {
  background-image: url("/img/sprite_pictoAdmin_400X400_ADIS.png");
}

.settings_grey {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.prio_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.descriptions_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}
.x-close_blue_whitecircle {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.prio_blue_whitebackground {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_project_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_project_me_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.group_member_blue {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

.pinlist_shared {
  background-image: url("/img/sprite_picto_400X400_ADIS.png");
}

[type="radio"]:checked + span:before ,
[type="radio"]:checked + [type="hidden"] + span:before {
   background-image: url("/img/done_adis.png");
}

[type="radio"]:checked + h4:after ,
[type="radio"]:checked + [type="hidden"] + h4:after {
  background-image: url("/img/done_adis.png");
}

[type="checkbox"]:checked + span:before ,
[type="checkbox"]:checked + [type="hidden"] + span:before {
  background-image: url("/img/done_adis.png");
}

[type="checkbox"]:checked + h4:after ,
[type="checkbox"]:checked + [type="hidden"] + h4:after {
  background-image: url("/img/done_adis.png");
}

.spinner_show{
  background-image: url("/img/spinner-purple.gif");
}

.spinner-delete_show{
  background-image: url("/img/spinner-purple.gif");
}