[Unit]
Description=signsatform

[Service]
Type=simple
ExecStart=/bin/sh -c 'java -Xmx200m -Dsun.jnu.encoding=UTF-8 -Dfile.encoding=UTF-8 -jar /usr/share/java/signsatform/signsatform.jar --spring.config.additional-location=optional:file:/etc/signsatform/ --spring.profiles.active=form'

[Install]
WantedBy=multi-user.target
