[Unit]
Description=signsatadis

[Service]
Type=simple
ExecStart=/bin/sh -c 'java -Xmx200m -Dsun.jnu.encoding=UTF-8 -Dfile.encoding=UTF-8 -jar /usr/share/java/signsatadis/signsatadis.jar --spring.config.additional-location=optional:file:/etc/signsatadis/ --spring.profiles.active=adis'

[Install]
WantedBy=multi-user.target
