<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email with inline image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{hello}">Bonjour,</p>
<p th:text="#{password_create_body_1(${appName},${username})}">Votre compte {0} {1} a été créé.</p>
<p th:text="#{password_create_body_2(${url})}">Pour finaliser la création, vous devez créer le mot de passe via le lien suivant https://signsatwork.orange-labs.fr</p>
<p th:text="#{thank}">Merci</p>
<p style="font-weight: bold" th:text="${appName}"></p>
<p>
  <img width="100" height="40" th:src="|cid:${imageResourceName}|"/>
</p>
<p th:utext="#{mail_footer}">NB : cet email est un envoi automatique de l'application. Merci de ne pas y repondre</p>
</body>
</html>