<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email with inline image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family: Accessible DfA, Arial, Calibri;">
<p th:text="#{hello}">Bonjour,</p>
<p th:text="#{user_create_body_1(${date},${username})}">{0} : {1} demande un compte</p>
<p th:text="#{user_create_body_2(${url})}">Créer ou abandonner la création en suivant ce lien : https://signsatwork.orange-labs.fr</p>
<p th:text="#{thank}">Merci</p>
<p style="font-weight: bold" th:text="${appName}"></p>
<p>
  <img width="100" height="40" th:src="|cid:${imageResourceName}|" th:attr="alt=#{logo(${appName})}"/>
</p>
<p th:utext="#{mail_footer}">NB : cet email est un envoi automatique de l'application. Merci de ne pas y repondre</p>
</body>
</html>