<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email with inline image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{hello}">Bonjour,</p>
<p th:text="#{community_deleted_by_user_body_1(${user_name}, ${community_name})}">La communauté obelix a été supprimé par Manuel Sanchez.</p>
<p th:text="#{community_deleted_by_user_body_2}">Les partages de listes de cette communauté n\'existeront plus.</p>
<p th:text="#{thank}">Merci</p>
<p style="font-weight: bold" th:text="${appName}"></p>
<p>
  <img width="100" height="40" th:src="|cid:${imageResourceName}|"/>
</p>
<p th:utext="#{mail_footer}">NB : cet email est un envoi automatique de l'application. Merci de ne pas y repondre</p>
</body>
</html>