<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email with inline image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{hello}">Bonjour,</p>
<p th:text="#{community_renamed_by_user_body_1(${old_name}, ${new_name})}">La communauté toto a été renomée en tutu.</p>
<p th:text="#{community_renamed_by_user_body_2}">Son contenu n'a pas changé.</p>
<p th:text="#{community_renamed_by_user_body_3(${url})}">Vous pouvez la retrouver en suivant le lien  https://signsatwork.orange-labs.f/sec/community/37.</p>
<p th:text="#{thank}">Merci</p>
<p style="font-weight: bold" th:text="${appName}"></p>
<p>
  <img width="100" height="40" th:src="|cid:${imageResourceName}|"/>
</p>
<p th:utext="#{mail_footer}">NB : cet email est un envoi automatique de l'application. Merci de ne pas y repondre</p>
</body>
</html>