<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/header-head :: head"></th:block>
</head>

<header role="banner" th:replace="fragments/header-signs :: header">&nbsp;</header>

<body class="container-fluid">

<div th:fragment="div" class="text-center title_middle col-lg-12 col-md-8 col-xs-12 middle-col">
    <h1 th:text="#{sign.list}"></h1>

    <div th:replace="fragments/frame-signs :: div"/>
</div>

<div th:replace="fragments/modal-new-sign-video :: div"/>
<div th:replace="fragments/modal-new-request :: div"/>

</body>

</html>
