<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/header-head :: head"></th:block>
</head>

<header role="banner" th:replace="fragments/header-sign :: header">&nbsp;</header>

<body class="container-fluid">
<div class="row">

    <div class="text-center title_middle col-md-12 col-xs-12 middle-col ">

        <div class="pull-right col-md-8 col-xs-12 col-sm-4">
            <iframe th:src="${signProfileView.sign.url} + '?autoplay=1'" frameborder="0" allowfullscreen=""/>
            <p th:text="${signProfileView.sign.name}"/>
        </div>

        <div class="col-md-4 col-xs-12">
            <aside class="sidebar">
                <ul class="nav nav-list primary left-menu">
                    <li class="aside_bckg_li">
                        <a href="#">
                            <h2 class="text-center" th:text="${signProfileView.sign.name}"/>
                        </a>
                    </li>
                    <li class="clear aside_bckg_li">
                        <a th:href="@{/sec/sign/} + ${signProfileView.sign.id} + '/associate-form'">
                            <h2 class="container_H2" th:text="#{sign.associate-with}"/>
                            <div>
                                <div class="pull-right chevron_right"/>
                            </div>
                        </a>
                    </li>
                    <li class="aside_bckg_li">
                        <a href="#">
                            <h2 class="container_H2" th:text="#{sign.replace}"/>
                            <div>
                                <div class="pull-right chevron_right"/>
                            </div>
                        </a>
                    </li>
                    <li class="aside_bckg_li">
                        <a href="#" data-toggle="modal" data-target="#evaluation_modal">
                            <h2 class="container_H2" th:text="#{sign.reevaluate}"/>
                            <div>
                                <div class="pull-right chevron_right"/>
                                <div th:if="${signProfileView.ratePositive}" class="pull-right sentiment_positif"/>
                                <div th:if="${signProfileView.rateNeutral}" class="pull-right sentiment_neutre"/>
                                <div th:if="${signProfileView.rateNegative}" class="pull-right sentiment_negatif"/>
                            </div>
                        </a>
                    </li>
                    <li class="aside_bckg_li">
                        <a href="#">
                            <h2 class="container_H2" th:text="#{history}"/>
                            <div>
                                <div class="pull-right chevron_right"/>
                            </div>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</div>

<div th:replace="fragments/modal-rate-sign :: div"/>
<div th:replace="fragments/modal-favorite :: div"/>

</body>
</html>
